.container.px-5
    .row.gx-5.brands.text-gray-500.align-items-center.mb-5
        .col-6.col-sm-4.col-lg-2.d-flex.justify-content-center.mb-5.mb-lg-0
            include /assets/img/demo/brand-logos/google.svg
        .col-6.col-sm-4.col-lg-2.d-flex.justify-content-center.mb-5.mb-lg-0
            include /assets/img/demo/brand-logos/product-hunt.svg
        .col-6.col-sm-4.col-lg-2.d-flex.justify-content-center.mb-5.mb-lg-0
            include /assets/img/demo/brand-logos/mailchimp.svg
        .col-6.col-sm-4.col-lg-2.d-flex.justify-content-center.mb-5.mb-sm-0
            include /assets/img/demo/brand-logos/instagram.svg
        .col-6.col-sm-4.col-lg-2.d-flex.justify-content-center
            include /assets/img/demo/brand-logos/pinterest.svg
        .col-6.col-sm-4.col-lg-2.d-flex.justify-content-center
            include /assets/img/demo/brand-logos/dribbble.svg
    .row.gx-5.justify-content-center.z-1
        .col-lg-8(data-aos='fade-up')
            .card.lift.mb-n15
                .card-body.p-2
                    .video.overlay.bg-img-cover.rounded(style='background-image: url("https://source.unsplash.com/wD1LRb9OeEo/1500x900")')
                        a.video-link(href='assets/video/video.mp4', data-lity)
                            fa-icon([icon]='["fas", "play"]')
