.page-header-ui-content.py-5
    .container.px-5
        .row.gx-5.justify-content-center
            .col-xl-8.col-lg-10.text-center
                div(data-aos='fade-up')
                    h1.page-header-ui-title We are a branding and design studio
                    p.page-header-ui-text We are a group of creatives and developers who design, build, and optimize brands and digital experiences.
                button.btn.btn-primary.fw-500(data-aos='fade-up', data-aos-delay='100') Learn More
