.container.px-5.z-1
    .card.mb-5(data-aos='fade-right')
        .row.gx-0
            .col-md-6
                img.img-fluid(src='https://source.unsplash.com/6LBBOwkPzyQ/800x550', alt='...')
            .col-md-6
                .card-body.d-flex.align-items-center.justify-content-center.h-100.flex-column
                    h3.card-title.fw-bold.text-uppercase.mb-2 Cocooil
                    p.card-text.fw-light.mb-4
                        | Body Oil
                    a.btn.btn-outline-dark.fw-500([routerLink]='') View Case Study
    .card.mb-5(data-aos='fade-left')
        .row.gx-0
            .col-md-6.order-1.order-md-0
                .card-body.d-flex.align-items-center.justify-content-center.h-100.flex-column
                    h3.card-title.fw-bold.text-uppercase.mb-2 Balitello
                    p.card-text.fw-light.mb-4
                        | Designer Socks 
                    a.btn.btn-outline-dark.fw-500([routerLink]='') View Case Study
            .col-md-6.order-0.order-md-1
                img.img-fluid(src='https://source.unsplash.com/XfHvAwu6E8E/800x550', alt='...')
    .card(data-aos='fade-right')
        .row.gx-0
            .col-md-6
                img.img-fluid(src='https://source.unsplash.com/7LNatQYMzm4/800x550', alt='...')
            .col-md-6
                .card-body.d-flex.align-items-center.justify-content-center.h-100.flex-column
                    h3.card-title.fw-bold.text-uppercase.mb-2 Headphones
                    p.card-text.fw-light.mb-4
                        | Premium Audio
                    a.btn.btn-outline-dark.fw-500([routerLink]='') View Case Study
