.container.px-5
    .row.gx-5.text-center
        .col-lg-4.mb-5.mb-lg-0
            .icon-stack.icon-stack-xl.bg-gradient-primary-to-secondary.text-white.mb-4
                i-feather(name='droplet')
            h2 Design
            p.mb-0
                | We start by creating a set of brand guidelines and standards
        .col-lg-4.mb-5.mb-lg-0
            .icon-stack.icon-stack-xl.bg-gradient-primary-to-secondary.text-white.mb-4
                i-feather(name='code')
            h2 Develop
            p.mb-0
                | Our award winning development team creates personalized digital experiences
        .col-lg-4
            .icon-stack.icon-stack-xl.bg-gradient-primary-to-secondary.text-white.mb-4
                i-feather(name='truck')
            h2 Deliver
            p.mb-0
                | Our products are created on time, and to your exact specifications
