<sbpro-layout-landing footerClasses="bg-dark footer-dark"
    ><sb-top-nav topNavClasses="bg-white navbar-light" brandClasses="text-dark" buttonClasses="btn-teal"></sb-top-nav
    ><sbpro-page-section sectionClasses="py-10 bg-light" borderType="rounded" borderClasses="text-dark"
        ><div class="container px-5">
            <h1 class="mb-4">This is an example of a page without a header</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor, eos quisquam expedita quo officiis porro provident laborum. Earum, consequatur provident, ipsam at excepturi rerum laborum aliquam facere molestias mollitia recusandae.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, ipsam? Perspiciatis sunt voluptatum officia non harum, dolores omnis fugiat nam ad optio cumque molestiae impedit dignissimos velit commodi aliquid iure?</p>
            <p class="mb-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem sapiente natus architecto aut porro! Vitae iusto praesentium recusandae debitis, cumque illum amet suscipit rem pariatur, magni iure laborum inventore in!</p>
            <hr class="my-5" />
            <h4 class="mb-4">
                <div class="icon-stack bg-primary text-white me-2"><i-feather name="arrow-right"></i-feather></div>
                Use this page to create additional inner pages
            </h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor, eos quisquam expedita quo officiis porro provident laborum. Earum, consequatur provident, ipsam at excepturi rerum laborum aliquam facere molestias mollitia recusandae.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, ipsam? Perspiciatis sunt voluptatum officia non harum, dolores omnis fugiat nam ad optio cumque molestiae impedit dignissimos velit commodi aliquid iure?</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem sapiente natus architecto aut porro! Vitae iusto praesentium recusandae debitis, cumque illum amet suscipit rem pariatur, magni iure laborum inventore in!</p>
            <div class="card bg-light shadow-none">
                <div class="card-body">
                    <h6>Some basic bullet points to show you some list items</h6>
                    <ul class="mb-0">
                        <li class="font-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed soluta fugiat eveniet, dignissimos facere quisquam, odit suscipit aliquid magnam?</li>
                        <li class="font-italic">Iste, mollitia, beatae impedit soluta fugiat illo consectetur earum tempore veniam pariatur delectus?</li>
                    </ul>
                </div>
            </div>
        </div></sbpro-page-section
    ></sbpro-layout-landing
>
