.container.px-5
    .row.gx-5.align-items-center
        .col-lg-6
            h4 Get the app now!
            p.lead.mb-5.mb-lg-0 Ready to get started? Download the app now!
        .col-lg-6.text-lg-end
            a.me-3(href='javascript:void(0);')
                img(src='assets/img/app-badges/app-store-badge.svg', style="height: 3rem;")
            a(href='javascript:void(0);')
                img(src='assets/img/app-badges/google-play-badge.svg', style="height: 3rem;")
