.page-header-ui-content.mb-n5
    .container.px-5
        .row.gx-5.justify-content-center.align-items-center
            .col-lg-6(data-aos='fade-right')
                h1.page-header-ui-title Build a landing page for your mobile app
                p.page-header-ui-text.mb-5 Marketing pages for your mobile app have never been easier. Get started now!
                .mb-5.mb-lg-0
                    a.me-3(href='javascript:void(0);')
                        img(src='assets/img/app-badges/app-store-badge.svg', style="height: 3rem;")
                    a(href='javascript:void(0);')
                        img(src='assets/img/app-badges/google-play-badge.svg', style="height: 3rem;")
                    .page-header-ui-text.mt-2.text-xs.font-italic
                        | * Requires Android OS 4.3+ or Apple iOS 9.3+
            .col-lg-6.z-1(data-aos='fade-left')
                .device-wrapper.mx-auto.mb-n15
                    .device(data-device='iPhoneX', data-orientation='portrait', data-color='black')
                        .screen
                            img(src='https://source.unsplash.com/eluzJSfkNCk/518x1122').img-fluid.z-1
