.container.px-5

    .row.gx-5

        .col-lg-6.mb-5.mb-lg-0.divider-right(data-aos='fade')
            .testimonial.p-lg-5
                .testimonial-brand.text-gray-400
                    include /assets/img/demo/brand-logos/google.svg
                p.testimonial-quote.text-primary
                    | "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut error vel omnis adipisci. Ad nam officiis sapiente dicta incidunt harum."
                .testimonial-name
                    | Adam Hall
                .testimonial-position
                    | Head of Engineering
        .col-lg-6(data-aos='fade', data-aos-delay='100')
            .testimonial.p-lg-5
                .testimonial-brand.text-gray-400
                    include /assets/img/demo/brand-logos/instagram.svg
                p.testimonial-quote.text-primary
                    | "Adipisci mollitia nemo magnam iure, temporibus molestiae odit, sit harum dolores neque maiores quo eligendi nam corrupti."
                .testimonial-name
                    | Lia Peterson
                .testimonial-position
                    | Technical Project Manager
