.container.px-5.mt-10
    .row.gx-5
        .col-lg-3
            ul.list-group.list-group-flush.list-group-careers
                li.list-group-item.pt-0
                    a(routerLink='/pages/careers-list').small
                        fa-icon.me-1([icon]='["fas", "arrow-left"]')
                        | Back to Careers
                li.list-group-item
                    | Remote - Global
                    fa-icon.fa-fw.text-gray-400([icon]='["fas", "globe"]')
                li.list-group-item
                    | Full Time
                    fa-icon.fa-fw.text-gray-400([icon]='["fas", "clock"]')
                li.list-group-item
                    | New Product
                    fa-icon.fa-fw.text-gray-400([icon]='["fas", "code"]')
        .col-lg-9
            h1.mb-4 Software Engineer
            p.lead.mb-4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore laboriosam beatae perspiciatis voluptatem quis facere perferendis quae accusantium nisi tempora, eligendi, repellendus cupiditate numquam ullam tempore cum, unde quibusdam ipsum.
            h5.mb-4 Here are some types of projects you'll be working on
            ul.fa-ul.mb-5
                li.mb-3
                    span.fa-li
                        fa-icon.text-primary-soft([icon]='["far", "dot-circle"]')
                    | API integrations with new software products
                li.mb-3
                    span.fa-li
                        fa-icon.text-primary-soft([icon]='["far", "dot-circle"]')
                    | Rapid prototyping of new product ideas
                li.mb-3
                    span.fa-li
                        fa-icon.text-primary-soft([icon]='["far", "dot-circle"]')
                    | Open source development
                li
                    span.fa-li
                        fa-icon.text-primary-soft([icon]='["far", "dot-circle"]')
                    | Expanding and creating new features in existing products

            h5.mb-4 Position description
            p.mb-4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, saepe quo libero ab perferendis iure impedit inventore quibusdam cumque, aliquid ea tenetur eum velit quidem est tempore! Dignissimos, tenetur saepe.
            p.mb-4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, saepe quo libero ab perferendis iure impedit inventore quibusdam cumque, aliquid ea tenetur eum velit quidem est tempore! Dignissimos, tenetur saepe.
            p.mb-5 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum qui deleniti impedit, sapiente consequuntur accusamus ut quibusdam aliquam repudiandae! Sunt animi obcaecati, nisi cumque placeat earum maiores et minima impedit.

            h5.mb-4 Requirements
            ul.fa-ul.mb-5
                li.mb-3
                    span.fa-li
                        fa-icon.text-primary-soft([icon]='["far", "dot-circle"]')
                    | Familiarity with JS based front-end frameworks (Angular, React, Vue, etc.)
                li.mb-3
                    span.fa-li
                        fa-icon.text-primary-soft([icon]='["far", "dot-circle"]')
                    | Proficient in programming languages commonly used in web development
                li.mb-3
                    span.fa-li
                        fa-icon.text-primary-soft([icon]='["far", "dot-circle"]')
                    | Problem solving skills
                li.mb-3
                    span.fa-li
                        fa-icon.text-primary-soft([icon]='["far", "dot-circle"]')
                    | Ability to prioritize features based on impact
                li
                    span.fa-li
                        fa-icon.text-primary-soft([icon]='["far", "dot-circle"]')
                    | Bachelor's degree in computer science or a related field

            .card.bg-light.shadow-none
                .card-body.d-flex.align-items-center.justify-content-between.p-4
                    p.lead.mb-0 We look forward to hearing from you
                    a([routerLink]='').btn.btn-primary.fw-500.ms-2 Apply Now
