.page-header-ui-content.position-relative
    .container.px-5
        .row.gx-5.justify-content-center
            .col-xl-8.col-lg-10.text-center
                h1.page-header-ui-title Find the best businesses in town
                p.page-header-ui-text.mb-5 Search for restaurants, contractors, and other local businesses in your area to find out which ones are the best!
        .row.gx-5.justify-content-center
            .col-xl-6.col-lg-8.text-center
                form.row.row-cols-1.row-cols-md-auto.g-3.align-items-center
                    .col.flex-grow-1
                        label.sr-only(for='inputEmail') Find local businesses...
                        input#inputEmail.form-control.form-control-solid(type='text', placeholder='Find local businesses...')
                    .col
                        button.btn.btn-teal.fw-500(type='submit') Search