.container.px-5
    .row.gx-5.justify-content-center
        .col-lg-6
            .mb-5.text-center
                .text-xs.text-uppercase-expanded.text-primary.mb-2 Browse Businesses
                p.lead.mb-0 Not sure what to search for? Browse some of the most popular categories.
    .row.gx-5.justify-content-center
        .col-md-6.col-lg-4.col-xl-3.mb-5
            a.card.lift([routerLink]='')
                img.card-img-top(src='https://source.unsplash.com/Yr4n8O_3UPc/800x500', alt='...')
                .card-body.text-center.py-3
                    h6.card-title.mb-0 Restaurants
        .col-md-6.col-lg-4.col-xl-3.mb-5
            a.card.lift([routerLink]='')
                img.card-img-top(src='https://source.unsplash.com/YbGMa1Jz1yY/800x500', alt='...')
                .card-body.text-center.py-3
                    h6.card-title.mb-0 Dry Cleaning
        .col-md-6.col-lg-4.col-xl-3.mb-5
            a.card.lift([routerLink]='')
                img.card-img-top(src='https://source.unsplash.com/Cl-OpYWFFm0/800x500', alt='...')
                .card-body.text-center.py-3
                    h6.card-title.mb-0 Painters
        .col-md-6.col-lg-4.col-xl-3.mb-5
            a.card.lift([routerLink]='')
                img.card-img-top(src='https://source.unsplash.com/E285pJbC4uE/800x500', alt='...')
                .card-body.text-center.py-3
                    h6.card-title.mb-0 Medical
        .col-md-6.col-lg-4.col-xl-3.mb-5.mb-lg-0
            a.card.lift([routerLink]='')
                img.card-img-top(src='https://source.unsplash.com/CQfNt66ttZM/800x500', alt='...')
                .card-body.text-center.py-3
                    h6.card-title.mb-0 Gyms
        .col-md-6.col-lg-4.col-xl-3.mb-5.mb-lg-0
            a.card.lift([routerLink]='')
                img.card-img-top(src='https://source.unsplash.com/tNALoIZhqVM/800x500', alt='...')
                .card-body.text-center.py-3
                    h6.card-title.mb-0 Coffee
        .col-md-6.col-lg-4.col-xl-3.mb-5.mb-md-0
            a.card.lift([routerLink]='')
                img.card-img-top(src='https://source.unsplash.com/r3XvSBEQQLo/800x500', alt='...')
                .card-body.text-center.py-3
                    h6.card-title.mb-0 Events
        .col-md-6.col-lg-4.col-xl-3
            a.card.lift([routerLink]='')
                img.card-img-top(src='https://source.unsplash.com/WCm4dFvZnMM/800x500', alt='...')
                .card-body.text-center.py-3
                    h6.card-title.mb-0 Breweries