.container.px-5
    .card.mt-n15.mb-10.z-1
        .card-body.p-5
            .row.gx-5.align-items-center
                .col-lg-6
                    h4 Get the latest news
                    p.lead.text-gray-500.mb-0 Stay in the loop with the latest updates and features added to our application!
                .col-lg-6
                    .input-group.mb-2
                        input.form-control.form-control-solid(type='text', placeholder="youremail@example.com", aria-label="Recipient's username", aria-describedby='button-addon2')
                        .input-group-append
                            button#button-addon2.btn.btn-primary(type='button') Sign up
                    .small.text-gray-500 You can unsubscribe at any time.

    .row.gx-5.justify-content-center
        .col-lg-6
            .mb-5.text-center
                .text-xs.text-uppercase-expanded.text-primary.mb-2 New Businesses
                p.lead.mb-0 Here are some of the most popular new businesses in your area.

    .row.gx-5
        .col-lg-4.mb-5.mb-lg-0
            a.card.lift([routerLink]='')
                img.card-img-top(src='https://source.unsplash.com/E6HjQaB7UEA/800x500', alt='...')
                .card-body.text-center.py-3
                    h6.card-title.mb-0 The Bamboo Ranch
                    .text-yellow
                        fa-icon([icon]='["fas", "star"]')
                        fa-icon([icon]='["fas", "star"]')
                        fa-icon([icon]='["fas", "star"]')
                        fa-icon([icon]='["fas", "star"]')
                        fa-icon([icon]='["fas", "star-half-alt"]')
                    .small.mb-2 (12 Reviews)
                    .small Upper West Ceon, Gram
                .card-footer.text-center.text-xs
                    fa-icon.me-1([icon]='["fas", "store-alt"]')
                    | Opened 2 weeks ago
        .col-lg-4.mb-5.mb-lg-0
            a.card.lift([routerLink]='')
                img.card-img-top(src='https://source.unsplash.com/ODNxWmNja2U/800x500', alt='...')
                .card-body.text-center.py-3
                    h6.card-title.mb-0 Lakeside Oyster
                    .text-yellow
                        fa-icon([icon]='["fas", "star"]')
                        fa-icon([icon]='["fas", "star"]')
                        fa-icon([icon]='["fas", "star"]')
                        fa-icon([icon]='["fas", "star"]')
                        fa-icon([icon]='["fas", "star-half-alt"]')
                    .small.mb-2 (8 Reviews)
                    .small East Fom, Kugan
                .card-footer.text-center.text-xs
                    fa-icon.me-1([icon]='["fas", "store-alt"]')
                    | Opened 1 months ago
        .col-lg-4
            a.card.lift([routerLink]='')
                img.card-img-top(src='https://source.unsplash.com/sWEpcc0Rm0U/800x500', alt='...')
                .card-body.text-center.py-3
                    h6.card-title.mb-0 Wild Junction
                    .text-yellow
                        fa-icon([icon]='["fas", "star"]')
                        fa-icon([icon]='["fas", "star"]')
                        fa-icon([icon]='["fas", "star"]')
                        fa-icon([icon]='["fas", "star-half-alt"]')
                        i.far.fa-star
                    .small.mb-2 (29 Reviews)
                    .small Shotles Wood, Drada
                .card-footer.text-center.text-xs
                    fa-icon.me-1([icon]='["fas", "store-alt"]')
                    | Opened 2 months ago