<sbpro-layout-landing footerClasses="bg-dark footer-dark"
    ><sb-top-nav topNavClasses="bg-white navbar-light" brandClasses="text-dark" buttonClasses="btn-primary"></sb-top-nav
    ><sbpro-page-section sectionClasses="bg-white pb-10" borderType="rounded" borderClasses="text-dark"
        ><div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center mt-4">
                        <img class="img-fluid p-4" src="assets/img/illustrations/500-internal-server-error.svg" alt="..." />
                        <p class="lead">The server encountered an internal error or misconfiguration and was unable to complete your request.</p>
                        <a class="text-arrow-icon" routerLink="/"><i-feather class="ms-0 me-1" name="arrow-left"></i-feather>Return Home</a>
                    </div>
                </div>
            </div>
        </div></sbpro-page-section
    ></sbpro-layout-landing
>
