.page-header-ui-content.py-5.position-relative
    .container.px-5
        .row.gx-5.justify-content-center
            .col-xl-8.col-lg-10.text-center
                h1.page-header-ui-title Find your forever home
                p.page-header-ui-text.mb-5 It's time to find the home of your dreams, and you search begins here. We make it easy to find the property that fits your needs and budget.
        .row.gx-5.justify-content-center
            .col-xl-6.col-lg-8.text-center
                form.row.row-cols-1.row-cols-md-auto.g-3.align-items-center
                    .col.flex-grow-1
                        label.sr-only(for='inputEmail') Enter and address, city, state, or ZIP
                        input#inputEmail.form-control.form-control-solid(type='text', placeholder='Search properties near you...')
                    .col
                        button.btn.btn-teal.fw-500(type='submit') Search