.container.px-5
    .row.gx-5.justify-content-center
        .col-lg-6.text-center.mb-5
            h2 Discover Piscard
            p.lead.mb-0 Voted the most desireable county in the region, discover what Piscard has to offer!
    .row.gx-5
        .col-md-4
            a.card.card-portfolio.mb-5([routerLink]='')
                img.card-img-top(src='https://source.unsplash.com/NHPyk3hWt30/400x300', alt='...')
                .card-body
                    .card-title Outdoor Activities
            a.card.card-portfolio.mb-5.mb-lg-0([routerLink]='')
                img.card-img-top(src='https://source.unsplash.com/GkZvxVsHYWw/400x500', alt='...')
                .card-body
                    .card-title Historic Downtown
        .col-md-4
            a.card.card-portfolio.mb-5([routerLink]='')
                img.card-img-top(src='https://source.unsplash.com/lnsHBbBC__w/400x500', alt='...')
                .card-body
                    .card-title Town Centers
            a.card.card-portfolio.mb-5.mb-lg-0([routerLink]='')
                img.card-img-top(src='https://source.unsplash.com/N_aihp118p8/400x300', alt='...')
                .card-body
                    .card-title Award Winning Schools
        .col-md-4
            a.card.card-portfolio.mb-5([routerLink]='')
                img.card-img-top(src='https://source.unsplash.com/SIOdjcYotms/400x300', alt='...')
                .card-body
                    .card-title Beautiful Beaches
            a.card.card-portfolio.mb-5.mb-lg-0([routerLink]='')
                img.card-img-top(src='https://source.unsplash.com/eE-ffApg7oI/400x500', alt='...')
                .card-body
                    .card-title Community Farmers Market