.container.px-5
    .row.gx-5
        .col-md-4
            a.card.card-portfolio.mb-5(href='#!')
                img.card-img-top(src='https://source.unsplash.com/jWQj5Wjepuk/400x300', alt='...')
                .card-body
                    .card-title Book
            a.card.card-portfolio.mb-5(href='#!')
                img.card-img-top(src='https://source.unsplash.com/Ecnx13MEPK0/400x500', alt='...')
                .card-body
                    .card-title Flower Mug
            a.card.card-portfolio.mb-5.mb-md-0(href='#!')
                img.card-img-top(src='https://source.unsplash.com/eUCy1jb_B7I/400x400', alt='...')
                .card-body
                    .card-title Cactus Display
        .col-md-4
            a.card.card-portfolio.mb-5(href='#!')
                img.card-img-top(src='https://source.unsplash.com/cuTcfqsES6o/400x500', alt='...')
                .card-body
                    .card-title Reading
            a.card.card-portfolio.mb-5(href='#!')
                img.card-img-top(src='https://source.unsplash.com/jipR1oTCO7U/400x400', alt='...')
                .card-body
                    .card-title White Book
            a.card.card-portfolio.mb-5.mb-md-0(href='#!')
                img.card-img-top(src='https://source.unsplash.com/n3sqjJzZiBM/400x300', alt='...')
                .card-body
                    .card-title Photo Face
        .col-md-4
            a.card.card-portfolio.mb-5(href='#!')
                img.card-img-top(src='https://source.unsplash.com/Zr7MxECDTQ8/400x300', alt='...')
                .card-body
                    .card-title Catalog
            a.card.card-portfolio.mb-5(href='#!')
                img.card-img-top(src='https://source.unsplash.com/QcyenJDqDzw/400x500', alt='...')
                .card-body
                    .card-title Notebook
            a.card.card-portfolio.mb-5.mb-md-0(href='#!')
                img.card-img-top(src='https://source.unsplash.com/TIutDBFEtcY/400x400', alt='...')
                .card-body
                    .card-title Book Stand