<sbpro-layout-landing footerClasses="bg-primary footer-dark"
    ><sb-top-nav topNavClasses="bg-white navbar-light" brandClasses="text-primary" buttonClasses="btn-primary"></sb-top-nav
    ><sbpro-page-header headerClasses="bg-white page-header-ui-light py-lg-5" borderType="rounded" borderClasses="text-light"
        ><div class="page-header-ui-content">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-7">
                        <h1 class="page-header-ui-title">Build your next project faster</h1>
                        <p class="page-header-ui-text mb-5">Welcome to SB UI Kit Pro, a toolkit for building beautiful web interfaces, created by the development team at Start Bootstrap</p>
                        <form class="row row-cols-1 row-cols-md-auto g-3 align-items-center mb-3">
                            <div class="col flex-grow-1"><label class="sr-only" for="inputEmail">Enter your email...</label><input class="form-control form-control-solid w-100" id="inputEmail" type="email" placeholder="Enter your email..." /></div>
                            <div class="col"><button class="btn btn-primary fw-500" type="submit">Sign Up</button></div>
                        </form>
                        <p class="page-header-ui-text small mb-0">By signing up, you agree to our <a href="#!">terms of service</a></p>
                    </div>
                    <div class="col-lg-5 d-none d-lg-block"><img class="img-fluid ps-xl-5" src="assets/img/illustrations/creativity.svg" /></div>
                </div>
            </div></div></sbpro-page-header
    ><sbpro-page-section sectionClasses="py-10 bg-light" borderType="rounded" borderClasses="text-primary"
        ><div class="container px-5">
            <div class="row gx-5 text-center">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4"><i-feather name="layers"></i-feather></div>
                    <h3>Built for developers</h3>
                    <p class="mb-0">Our modular, block-based build system makes building your next project fast and easy!</p>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4"><i-feather name="smartphone"></i-feather></div>
                    <h3>Modern responsive design</h3>
                    <p class="mb-0">This UI Kit is build mobile-first, meaning it is will function beautifully on any device!</p>
                </div>
                <div class="col-lg-4">
                    <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4"><i-feather name="code"></i-feather></div>
                    <h3>Complete documentation</h3>
                    <p class="mb-0">All of the layouts, page sections, components, and utilities are fully covered in this products docs.</p>
                </div>
            </div>
        </div></sbpro-page-section
    ></sbpro-layout-landing
>
