.page-header-ui-content.py-5.position-relative
    .container.px-5
        .row.gx-5.justify-content-center
            .col-xl-8.col-lg-10.text-center
                h1.page-header-ui-title Rent your home or extra room
                p.page-header-ui-text.mb-5 Opening your home to vacationers is a great way to earn some extra income, and this is a great way to get started!
                a.btn.btn-primary.fw-500.me-2([routerLink]='') Get Started
                a.btn.btn-link.fw-500([routerLink]='') Learn More
