.container.px-5
    .row.gx-5
        .col-lg-6.mb-5.mb-lg-0.divider-right
            .testimonial.p-lg-5
                .mb-3.text-yellow
                    fa-icon([icon]='["fas", "star"]')
                    fa-icon([icon]='["fas", "star"]')
                    fa-icon([icon]='["fas", "star"]')
                    fa-icon([icon]='["fas", "star"]')
                    fa-icon([icon]='["fas", "star"]')
                p.testimonial-quote.text-primary
                    | "I was impressed with how beautiful and clean this property was. The owner definitely goes the extra mile to help their guests!"
                .testimonial-name
                    | Adam Hall
                .testimonial-position
                    | Lisbon, Portugal
        .col-lg-6
            .testimonial.p-lg-5
                .mb-3.text-yellow
                    fa-icon([icon]='["fas", "star"]')
                    fa-icon([icon]='["fas", "star"]')
                    fa-icon([icon]='["fas", "star"]')
                    fa-icon([icon]='["fas", "star"]')
                    fa-icon([icon]='["fas", "star"]')
                p.testimonial-quote.text-primary
                    | "Amazing location, convenient parking, and a lots of amenities and extras. I will definitely be returning here whenever I'm in town."
                .testimonial-name
                    | Lia Peterson
                .testimonial-position
                    | Sacramento, CA, USA
