<sbpro-layout-landing footerClasses="bg-dark footer-dark"
    ><sb-top-nav topNavClasses="bg-gradient-primary-to-secondary navbar-dark fixed-top" brandClasses="text-white" buttonClasses="btn-teal"></sb-top-nav
    ><sbpro-page-section sectionClasses="py-10 bg-white" borderType="rounded" borderClasses="text-dark"
        ><div class="container px-5 mt-10">
            <div class="row gx-5">
                <div class="col-lg-3">
                    <ul class="list-group list-group-flush list-group-careers">
                        <li class="list-group-item pt-0">
                            <a class="small" routerLink="/pages/careers-list"><fa-icon class="me-1" [icon]='["fas", "arrow-left"]'></fa-icon>Back to Careers</a>
                        </li>
                        <li class="list-group-item">Remote - Global<fa-icon class="fa-fw text-gray-400" [icon]='["fas", "globe"]'></fa-icon></li>
                        <li class="list-group-item">Full Time<fa-icon class="fa-fw text-gray-400" [icon]='["fas", "clock"]'></fa-icon></li>
                        <li class="list-group-item">New Product<fa-icon class="fa-fw text-gray-400" [icon]='["fas", "code"]'></fa-icon></li>
                    </ul>
                </div>
                <div class="col-lg-9">
                    <h1 class="mb-4">Software Engineer</h1>
                    <p class="lead mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore laboriosam beatae perspiciatis voluptatem quis facere perferendis quae accusantium nisi tempora, eligendi, repellendus cupiditate numquam ullam tempore cum, unde quibusdam ipsum.</p>
                    <h5 class="mb-4">Here are some types of projects you'll be working on</h5>
                    <ul class="fa-ul mb-5">
                        <li class="mb-3">
                            <span class="fa-li"><fa-icon class="text-primary-soft" [icon]='["far", "dot-circle"]'></fa-icon></span>API integrations with new software products
                        </li>
                        <li class="mb-3">
                            <span class="fa-li"><fa-icon class="text-primary-soft" [icon]='["far", "dot-circle"]'></fa-icon></span>Rapid prototyping of new product ideas
                        </li>
                        <li class="mb-3">
                            <span class="fa-li"><fa-icon class="text-primary-soft" [icon]='["far", "dot-circle"]'></fa-icon></span>Open source development
                        </li>
                        <li>
                            <span class="fa-li"><fa-icon class="text-primary-soft" [icon]='["far", "dot-circle"]'></fa-icon></span>Expanding and creating new features in existing products
                        </li>
                    </ul>
                    <h5 class="mb-4">Position description</h5>
                    <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, saepe quo libero ab perferendis iure impedit inventore quibusdam cumque, aliquid ea tenetur eum velit quidem est tempore! Dignissimos, tenetur saepe.</p>
                    <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, saepe quo libero ab perferendis iure impedit inventore quibusdam cumque, aliquid ea tenetur eum velit quidem est tempore! Dignissimos, tenetur saepe.</p>
                    <p class="mb-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum qui deleniti impedit, sapiente consequuntur accusamus ut quibusdam aliquam repudiandae! Sunt animi obcaecati, nisi cumque placeat earum maiores et minima impedit.</p>
                    <h5 class="mb-4">Requirements</h5>
                    <ul class="fa-ul mb-5">
                        <li class="mb-3">
                            <span class="fa-li"><fa-icon class="text-primary-soft" [icon]='["far", "dot-circle"]'></fa-icon></span>Familiarity with JS based front-end frameworks (Angular, React, Vue, etc.)
                        </li>
                        <li class="mb-3">
                            <span class="fa-li"><fa-icon class="text-primary-soft" [icon]='["far", "dot-circle"]'></fa-icon></span>Proficient in programming languages commonly used in web development
                        </li>
                        <li class="mb-3">
                            <span class="fa-li"><fa-icon class="text-primary-soft" [icon]='["far", "dot-circle"]'></fa-icon></span>Problem solving skills
                        </li>
                        <li class="mb-3">
                            <span class="fa-li"><fa-icon class="text-primary-soft" [icon]='["far", "dot-circle"]'></fa-icon></span>Ability to prioritize features based on impact
                        </li>
                        <li>
                            <span class="fa-li"><fa-icon class="text-primary-soft" [icon]='["far", "dot-circle"]'></fa-icon></span>Bachelor's degree in computer science or a related field
                        </li>
                    </ul>
                    <div class="card bg-light shadow-none">
                        <div class="card-body d-flex align-items-center justify-content-between p-4">
                            <p class="lead mb-0">We look forward to hearing from you</p>
                            <a class="btn btn-primary fw-500 ms-2" [routerLink]="">Apply Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div></sbpro-page-section
    ></sbpro-layout-landing
>
