.container.px-5
    .row.gx-5.justify-content-center
        .col-lg-10
            .post-archive-tag Category 'UI'

            a.post-archive-item([routerLink]='')
                h5 Boots on the Ground, Inclusive Thought Provoking Ideas
                p
                    | Empower communities and energize engaging ideas; scale and impact do-gooders while disruptring industries. Venture philanthropy benefits corporations and people by moving the needle.
            .post-archive-meta
                img.post-archive-meta-img(src='assets/img/illustrations/profiles/profile-1.png')
                .post-archive-meta-details
                    .post-archive-meta-details-name Valerie Luna
                    .post-archive-meta-details-date Feb 5 &middot; 6 min read

            hr.my-5

            a.post-archive-item([routerLink]='')
                h5 Invest In Social Impact
                p
                    | Expose the truth, problem-solvers impact mobilized green spaces.
            .post-archive-meta
                img.post-archive-meta-img(src='assets/img/illustrations/profiles/profile-2.png')
                .post-archive-meta-details
                    .post-archive-meta-details-name Aariz Fischer
                    .post-archive-meta-details-date Feb 4 &middot; 5 min read

            hr.my-5

            a.post-archive-item([routerLink]='')
                h5 Save the World, Social Entrepreneur
                p
                    | Contextualize co-creation and do good while building your startup.
            .post-archive-meta
                img.post-archive-meta-img(src='assets/img/illustrations/profiles/profile-3.png')
                .post-archive-meta-details
                    .post-archive-meta-details-name Henrietta Iman
                    .post-archive-meta-details-date Feb 3 &middot; 7 min read

            hr.my-5

            a.post-archive-item([routerLink]='')
                h5 Design Thinking Benefits Corporation Thought Leadership
                p
                    | Global changemakers, a state of play releives stress and creates inspirational work environments.
            .post-archive-meta
                img.post-archive-meta-img(src='assets/img/illustrations/profiles/profile-4.png')
                .post-archive-meta-details
                    .post-archive-meta-details-name Mahesh Kumar
                    .post-archive-meta-details-date Feb 1 &middot; 4 min read

            hr.my-5

            a.post-archive-item([routerLink]='')
                h5 Collaborative Consumption, Human-Centered Technology Thought Leader Systems
                p
                    | Milestones theory of change, an effective paradigm, exposes the truth and best practices to uplift equal opportunity.
            .post-archive-meta
                img.post-archive-meta-img(src='assets/img/illustrations/profiles/profile-5.png')
                .post-archive-meta-details
                    .post-archive-meta-details-name Andy Love
                    .post-archive-meta-details-date Jan 30 &middot; 12 min read

            hr.my-5

            a.post-archive-item([routerLink]='')
                h5 Co-create, Empower - Moving the Needle on Investor Interests
                p
                    | Scalable efficient systems and thinking as a social entrepreneur creates a transparent, targeted vison.
            .post-archive-meta
                img.post-archive-meta-img(src='assets/img/illustrations/profiles/profile-1.png')
                .post-archive-meta-details
                    .post-archive-meta-details-name Valerie Luna
                    .post-archive-meta-details-date Jan 29 &middot; 4 min read

            hr.my-5

            a.post-archive-item([routerLink]='')
                h5 Inclusive Shared Units of Analysis
                p
                    | Commit to inspiring social capital, social capital inspires the body and the mind.
            .post-archive-meta
                img.post-archive-meta-img(src='assets/img/illustrations/profiles/profile-6.png')
                .post-archive-meta-details
                    .post-archive-meta-details-name Denise Walker
                    .post-archive-meta-details-date Jan 25 &middot; 7 min read

            hr.my-5

    //- Pagination
    nav(aria-label='Page navigation example')
        ul.pagination.pagination-blog.justify-content-center
            li.page-item.disabled
                a.page-link([routerLink]='', aria-label='Previous')
                    span(aria-hidden='true') «
            li.page-item.active
                a.page-link([routerLink]='') 1
            li.page-item
                a.page-link([routerLink]='') 2
            li.page-item
                a.page-link([routerLink]='') 3
            li.page-item.disabled
                a.page-link([routerLink]='') ...
            li.page-item
                a.page-link([routerLink]='') 12
            li.page-item
                a.page-link([routerLink]='', aria-label='Next')
                    span(aria-hidden='true') »
