.page-header-ui-content.position-relative
    .container.px-5.text-center
        .row.gx-5.justify-content-center
            .col-lg-8
                h1.page-header-ui-title.mb-3 Archive
                p.page-header-ui-text.mb-0 Browse posts in the category 'UI'
