header.page-header-ui(
    [ngClass]='headerClasses',
    [style.background-image]='safeBackgroudImage'
)
    ng-content
    sbpro-border([borderType]='borderType', [borderClasses]='borderClasses')
    