.page-header-ui-content.pt-10
    .container.px-5.text-center
        .row.gx-5.justify-content-center
            .col-lg-8
                h1.page-header-ui-title.mb-3 Meet the team
                p.page-header-ui-text We are a group of designers and developers

