.container.px-5
    .row.gx-5.justify-content-center
        .col-lg-10

            .d-flex.align-items-center.justify-content-between
                h2.mb-0 Administration
                .badge.bg-primary-soft.text-primary.badge-marketing 3 Openings
            hr.mb-0
            ul.list-group.list-group-flush.list-group-careers
                li.list-group-item
                    a([routerLink]='') Senior Manager, Risk Management
                    .small Remote - US (San Francisco, CA)
                li.list-group-item
                    a([routerLink]='') Operations Manager
                    .small San Francisco, CA (HQ)
                li.list-group-item
                    a([routerLink]='') Administrative Assistant
                    .small Dallas, TX

            .d-flex.align-items-center.justify-content-between
                h2.mb-0 Engineering
                .badge.bg-primary-soft.text-primary.badge-marketing 5 Openings
            hr.mb-0
            ul.list-group.list-group-flush.list-group-careers
                li.list-group-item
                    a([routerLink]='') Senior Software Engineer
                    .small Remote - US / Canada
                li.list-group-item
                    a([routerLink]='') Software Engineer
                    .small Remote - Global
                li.list-group-item
                    a([routerLink]='') Data Scientist
                    .small Remote - Global
                li.list-group-item
                    a([routerLink]='') Front End Engineer
                    .small San Francisco, CA (HQ)
                li.list-group-item
                    a([routerLink]='') Technical Director
                    .small San Francisco, CA (HQ)

            .d-flex.align-items-center.justify-content-between
                h2.mb-0 Sales
                .badge.bg-primary-soft.text-primary.badge-marketing 4 Openings
            hr.mb-0
            ul.list-group.list-group-flush.list-group-careers
                li.list-group-item
                    a([routerLink]='') Sales Support Coordinator
                    .small Remote - US (San Francisco, CA)
                li.list-group-item
                    a([routerLink]='') Senior Sales Representative
                    .small Remove - US Northeast
                li.list-group-item
                    a([routerLink]='') Paid Search Specialist
                    .small Remote - Global
                li.list-group-item
                    a([routerLink]='') Junior Sales Representative
                    .small San Francisco, CA (HQ)

            h4.mb-4
                .icon-stack.bg-primary.text-white.me-2
                    i-feather(name='smile')
                | Work happier
            p.mb-5 Build amazing things with autonomy, self-direction, and a healthy work-life balance. We offer flexible work schedules for all of our employees and unlimited PTO. We also believe that if a job allows for it, you should work wherever you’re happiest.

            h4.mb-4
                .icon-stack.bg-primary.text-white.me-2
                    i-feather(name='trending-up')
                | Keep growing
            p Learn how you learn best. From books to conferences, you’ll get a yearly budget for your individual learning and development goals. If ebooks are more your style, you’ll get a brand new Kindle on your first day.

            hr.my-5

            .card.bg-light.shadow-none
                .card-body.text-center.p-5
                    h2 Internships
                    p.lead.mb-4 Are you currently enrolled at a college or university and looking for hands-on experience while earning class credit? Take a look at our internship opportunities!
                    a([routerLink]='').btn.btn-primary.fw-500 Explore Internships
