.container.px-5
    .row.gx-5.justify-content-center
        .col-lg-6
            .text-center.mt-4
                img.img-fluid.p-4(src='assets/img/illustrations/404-error-with-a-cute-animal.svg', alt='...')
                p.lead This requested URL was not found on this server.
                a.text-arrow-icon(routerLink='/')
                    i-feather.ms-0.me-1(name='arrow-left')
                    | Return Home
