.container.px-5

    .row.gx-5.align-items-center.mb-10
        .col-lg-6
            .h4.fw-normal Ready to get started?
            p.lead.mb-0.text-gray-500 Get in touch or create an account.
        .col-lg-6.text-lg-end
            a.btn.btn-primary.fw-500.me-3.my-2([routerLink]='') Contact Sales
            a.btn.btn-white.my-2.fw-500([routerLink]='') Create Account

    .row.gx-5
        .col-lg-6.z-1.mb-5.mb-lg-n5
            a.card.text-decoration-none.h-100.lift([routerLink]='')
                .card-body.py-5
                    .d-flex.align-items-center
                        .icon-stack.icon-stack-xl.bg-primary.text-white.flex-shrink-0
                            i-feather(name='activity')
                        .ms-4
                            h5.text-primary Work smarter, not harder
                            p.card-text.text-gray-600 Learn more about how our product can save you time and effort in the long run!
        .col-lg-6.z-1.mb-10.mb-lg-n5
            a.card.text-decoration-none.h-100.lift([routerLink]='')
                .card-body.py-5
                    .d-flex.align-items-center
                        .icon-stack.icon-stack-xl.bg-secondary.text-white.flex-shrink-0
                            i-feather(name='code')
                        .ms-4
                            h5.text-secondary Built for developers
                            p.card-text.text-gray-600 Our components, utilities, and layouts are built with developers in mind.
