.container.px-5
    .text-center.mb-5
        h2 Simple Pricing
        p.lead Easy pricing means no suprises.
    .row.gx-5
        .col-lg-4.mb-5.mb-lg-0
            .card.pricing.h-100
                .card-body.p-5
                    .text-center
                        .badge.bg-light.text-dark.rounded-pill.badge-marketing.badge-sm Free
                        .pricing-price
                            sup $
                            | 0
                            span.pricing-price-period /mo
                    ul.fa-ul.pricing-list
                        li.pricing-list-item
                            span.fa-li
                                fa-icon.text-teal([icon]='["far", "check-circle"]')
                            span.text-dark 1 user
                        li.pricing-list-item
                            span.fa-li
                                fa-icon.text-teal([icon]='["far", "check-circle"]')
                            span.text-dark Community support
                        li.pricing-list-item
                            span.fa-li
                                fa-icon.text-gray-200([icon]='["far", "circle"]')
                            | Style customizer
                        li.pricing-list-item
                            span.fa-li
                                fa-icon.text-gray-200([icon]='["far", "circle"]')
                            | Custom components
                        li.pricing-list-item
                            span.fa-li
                                fa-icon.text-gray-200([icon]='["far", "circle"]')
                            | Expanded utilities
                        li.pricing-list-item
                            span.fa-li
                                fa-icon.text-gray-200([icon]='["far", "circle"]')
                            | Third-party integration
                        li.pricing-list-item
                            span.fa-li
                                fa-icon.text-gray-200([icon]='["far", "circle"]')
                            | Layout options
        .col-lg-4.mb-5.mb-lg-0
            .card.pricing.h-100
                .card-body.p-5
                    .text-center
                        .badge.bg-primary-soft.rounded-pill.badge-marketing.badge-sm.text-primary Standard
                        .pricing-price
                            sup $
                            | 19
                            span.pricing-price-period /mo
                    ul.fa-ul.pricing-list
                        li.pricing-list-item
                            span.fa-li
                                fa-icon.text-teal([icon]='["far", "check-circle"]')
                            span.text-dark Up to 15 users
                        li.pricing-list-item
                            span.fa-li
                                fa-icon.text-teal([icon]='["far", "check-circle"]')
                            span.text-dark Email and live chat support
                        li.pricing-list-item
                            span.fa-li
                                fa-icon.text-teal([icon]='["far", "check-circle"]')
                            span.text-dark Style customizer
                        li.pricing-list-item
                            span.fa-li
                                fa-icon.text-teal([icon]='["far", "check-circle"]')
                            span.text-dark Custom components
                        li.pricing-list-item
                            span.fa-li
                                fa-icon.text-teal([icon]='["far", "check-circle"]')
                            span.text-dark Expanded utilities
                        li.pricing-list-item
                            span.fa-li
                                fa-icon.text-teal([icon]='["far", "check-circle"]')
                            span.text-dark Third-party integration
                        li.pricing-list-item
                            span.fa-li
                                fa-icon.text-teal([icon]='["far", "check-circle"]')
                            span.text-dark Layout options
        .col-lg-4
            .card.pricing.h-100
                .card-body.p-5
                    .text-center
                        .badge.bg-light.text-dark.rounded-pill.badge-marketing.badge-sm Enterprise
                        p.card-text.py-10 We offer discounts for larger organizations. Contact us to inquire about enterprise level plans!

    .mt-5.text-center
        a.btn.btn-primary.fw-500([routerLink]='') Get Started
