.page-header-ui-content
    .container.px-5
        .row.gx-5.justify-content-center
            .col-xl-8.col-lg-10.text-center
                h1.page-header-ui-title Build your next project faster
                p.page-header-ui-text.mb-5 Welcome to SB UI Kit Pro, a toolkit for building beautiful web interfaces, created by the development team at Start Bootstrap
        .row.gx-5.justify-content-center
            .col-xl-6.col-lg-8.text-center
                form.row.row-cols-1.row-cols-md-auto.g-3.align-items-center.mb-3
                    .col.flex-grow-1
                        label.sr-only(for='inputEmail') Enter your email...
                        input#inputEmail.form-control.form-control-solid.w-100(type='email', placeholder='Enter your email...')
                    .col
                        button.btn.btn-teal.fw-500(type='submit') Sign Up
                p.page-header-ui-text.small.mb-0.
                    By signing up, you agree to our <a href="#!">terms of service</a>
