.container.px-5.mt-5
    .row.gx-5.align-items-center
        .col-lg-6
            .h4.fw-normal Ready to get started?
            p.lead.mb-0.text-gray-500 Get in touch or create an account.
        .col-lg-6.text-lg-end
            a.btn.btn-primary.fw-500.me-3.my-2([routerLink]='') Contact Sales
            a.btn.btn-white.my-2.fw-500([routerLink]='') Create Account
