.container.px-5

    .row.gx-5.align-items-center.justify-content-center

        .col-md-9.col-lg-6.order-1.order-lg-0(data-aos='fade-right')
            .mb-4
                .content-skewed.content-skewed-right
                    img.img-fluid.content-skewed-item.shadow-lg.rounded-3.border-start.border-start-lg.border-gray-400(src='https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/landing-portfolio.png')

        .col-lg-6.order-0.order-lg-1.mb-5.mb-lg-0(
            data-aos='fade-left',
            data-aos-offset='200'
        )
            .mb-5
                h2 Here's What You Get
                p.lead
                    | When you purchase this UI Kit, you get access to a robust suite of powerful tools and components to help you build your next landing page quickly and easily.
            .row.gx-5
                .col-md-6.mb-4
                    h6 Landing Pages
                    p.mb-2.small We've crafted landing page examples for many popular business and product types.
                    a.small.d-inline-flex.align-items-center(href="javascript:void(0);")
                        | Learn More
                        i-feather.ms-1(name='arrow-right')
                .col-md-6.mb-4
                    h6 Page Examples
                    p.mb-2.small.mb-0 Use our pre-built page examples to quickly create inner pages to your website.
                    a.small.d-inline-flex.align-items-center(href="javascript:void(0);")
                        | Learn More
                        i-feather.ms-1(name='arrow-right')
            .row.gx-5
                .col-md-6.mb-4
                    h6 Layouts
                    p.mb-2.small.mb-0 Our flex box based layout options make your site beautifully responsive and adaptable to any device.
                    a.small.d-inline-flex.align-items-center(href="javascript:void(0);")
                        | Learn More
                        i-feather.ms-1(name='arrow-right')
                .col-md-6.mb-4
                    h6 Modular Sections
                    p.small.mb-0 All of the sections on each page are modular, so you can drop them into an existing page, or start with a new one!
                    a.small.d-inline-flex.align-items-center(href="javascript:void(0);")
                        | Learn More
                        i-feather.ms-1(name='arrow-right')