.page-header-ui-content.pt-10
    .container.px-5
        .row.gx-5.align-items-center
            .col-lg-6(data-aos='fade-up')
                h1.page-header-ui-title Build your next project faster with SB UI Kit Pro
                p.page-header-ui-text.mb-5 Welcome to SB UI Kit Pro, a toolkit for building beautiful web interfaces, created by the development team at Start Bootstrap
                a.btn.btn-teal.fw-500(routerLink='/')
                    | View Pages
                    fa-icon.ms-1([icon]='["fas", "arrow-right"]')
                a([routerLink]='').btn.btn-link Documentation
            .col-lg-6.d-none.d-lg-block(data-aos='fade-up', data-aos-delay='50')
                img.img-fluid(src='assets/img/illustrations/windows.svg')
