.container.px-5
    .text-center.mb-5
        h2 Simple Pricing
        p.lead Easy pricing means no suprises.
    .row.gx-5.z-1
        .col-lg-4.mb-5.mb-lg-n10(data-aos='fade-up', data-aos-delay='100')
            .card.pricing.h-100
                .card-body.px-5
                    .h6.d-block
                        .badge.bg-light.text-dark.rounded-pill.fw-normal Free
                    .pricing-price.
                        <sup>$</sup>0<span>/mo</span>
                    ul.fa-ul.text-start.ms-0
                        li.mb-2
                            span.fa-li
                            i.far.fa-check-circle.me-2.text-green
                            span.text-dark 1 user
                        li.mb-2
                            span.fa-li
                            i.far.fa-check-circle.me-2.text-green
                            span.text-dark Community support
                        li.mb-2
                            span.fa-li
                            i.far.fa-circle.me-2.text-gray-200
                            | Style customizer
                        li.mb-2
                            span.fa-li
                            i.far.fa-circle.me-2.text-gray-200
                            | Custom components
                        li.mb-2
                            span.fa-li
                            i.far.fa-circle.me-2.text-gray-200
                            | Expanded utilities
                        li.mb-2
                            span.fa-li
                            i.far.fa-circle.me-2.text-gray-200
                            | Third-party integration
                        li
                            span.fa-li
                            i.far.fa-circle.me-2.text-gray-200
                            | Layout options
        .col-lg-4.mb-5.mb-lg-n10(data-aos='fade-up')
            .card.pricing.h-100
                .card-body.px-5
                    .h6.d-block
                        .badge.bg-primary-soft.rounded-pill.fw-normal.text-primary Standard
                    .pricing-price.
                        <sup>$</sup>19<span>/mo</span>
                    ul.fa-ul.text-start.ms-0
                        li.mb-2
                            span.fa-li
                            i.far.fa-check-circle.me-2.text-green
                            span.text-dark Up to 15 users
                        li.mb-2
                            span.fa-li
                            i.far.fa-check-circle.me-2.text-green
                            span.text-dark Email and live chat support
                        li.mb-2
                            span.fa-li
                            i.far.fa-check-circle.me-2.text-green
                            span.text-dark Style customizer
                        li.mb-2
                            span.fa-li
                            i.far.fa-check-circle.me-2.text-green
                            span.text-dark Custom components
                        li.mb-2
                            span.fa-li
                            i.far.fa-check-circle.me-2.text-green
                            span.text-dark Expanded utilities
                        li.mb-2
                            span.fa-li
                            i.far.fa-check-circle.me-2.text-green
                            span.text-dark Third-party integration
                        li
                            span.fa-li
                            i.far.fa-check-circle.me-2.text-green
                            span.text-dark Layout options
        .col-lg-4.mb-lg-n10(data-aos='fade-up', data-aos-delay='100')
            .card.pricing.h-100
                .card-body.px-5
                    .h6.d-block
                        .badge.bg-light.text-dark.rounded-pill.fw-normal Enterprise
                    p.card-text.py-10 We offer bulk discounts for larger organizations. Contact us to set up an enterprise level plan!
