sb-layout-error
    .container.px-5
        .row.gx-5.justify-content-center
            .col-lg-6
                .text-center.mt-4
                    img.img-fluid.p-4(src='assets/img/illustrations/403-error-forbidden.svg', alt='...')
                    p.lead Your client does not have permission to get this page from the server.
                    a.text-arrow-icon(routerLink='/')
                        i-feather.ms-0.me-1(name='arrow-left')
                        | Return Home
