.page-header-ui-content
    .container.px-5
        .row.gx-5.align-items-center
            .col-lg-7
                h1.page-header-ui-title Build your next project faster
                p.page-header-ui-text.mb-5 Welcome to SB UI Kit Pro, a toolkit for building beautiful web interfaces, created by the development team at Start Bootstrap
                a.btn.btn-primary.fw-500.me-2(href='javascript:void(0);')
                    | Get Started
                    fa-icon.ms-1([icon]='["fas", "arrow-right"]')
                a.btn.btn-primary-soft.text-primary.fw-500(href='javascript:void(0);') Learn More
            .col-lg-5.d-none.d-lg-block
                img.img-fluid.ps-xl-5(src='assets/img/illustrations/creativity.svg')
