.container.px-5
    .row.gx-5.features.text-center.mb-10
        .col-lg-4.col-md-6.mb-5
            a.card.card-link.border-top.border-top-lg.border-top-primary.h-100.lift([routerLink]='')
                .card-body.p-5
                    .icon-stack.icon-stack-lg.bg-primary-soft.text-primary.mb-4
                        i-feather(name='user')
                    h6 Account
                    p.card-text Issues related to logging in, out, or about multiple devices.
                .card-footer.bg-transparent.pt-0.pb-5.border-top-0
                    .badge.rounded-pill.bg-light.text-dark.fw-normal.px-3.py-2 21 Entries
        .col-lg-4.col-md-6.mb-5
            a.card.card-link.border-top.border-top-lg.border-top-green.h-100.lift([routerLink]='')
                .card-body.p-5
                    .icon-stack.icon-stack-lg.bg-green-soft.text-green.mb-4
                        i-feather(name='clock')
                    h6 Integrations
                    p.card-text Connecting with 3rd party apps to exchange data.
                .card-footer.bg-transparent.pt-0.pb-5.border-top-0
                    .badge.rounded-pill.bg-light.text-dark.fw-normal.px-3.py-2 9 Entries
        .col-lg-4.col-md-6.mb-5
            a.card.card-link.border-top.border-top-lg.border-top-yellow.h-100.lift([routerLink]='')
                .card-body.p-5
                    .icon-stack.icon-stack-lg.bg-yellow-soft.text-yellow.mb-4
                        i-feather(name='clock')
                    h6 Billing
                    p.card-text Issues with payments or invoicing.
                .card-footer.bg-transparent.pt-0.pb-5.border-top-0
                    .badge.rounded-pill.bg-light.text-dark.fw-normal.px-3.py-2 14 Entries
        .col-lg-4.col-md-6.mb-5.mb-lg-0
            a.card.card-link.border-top.border-top-lg.border-top-purple.h-100.lift([routerLink]='')
                .card-body.p-5
                    .icon-stack.icon-stack-lg.bg-purple-soft.text-purple.mb-4
                        i-feather(name='clock')
                    h6 Organizations
                    p.card-text Setting up and managing collections of users.
                .card-footer.bg-transparent.pt-0.pb-5.border-top-0
                    .badge.rounded-pill.bg-light.text-dark.fw-normal.px-3.py-2 17 Entries
        .col-lg-4.col-md-6.mb-5.mb-lg-0
            a.card.card-link.border-top.border-top-lg.border-top-red.h-100.lift([routerLink]='')
                .card-body.p-5
                    .icon-stack.icon-stack-lg.bg-red-soft.text-red.mb-4
                        i-feather(name='clock')
                    h6 Performance
                    p.card-text Improving your system's speed and reliability.
                .card-footer.bg-transparent.pt-0.pb-5.border-top-0
                    .badge.rounded-pill.bg-light.text-dark.fw-normal.px-3.py-2 7 Entries
        .col-lg-4.col-md-6.mb-5.mb-lg-0
            a.card.card-link.border-top.border-top-lg.border-top-teal.h-100.lift([routerLink]='')
                .card-body.p-5
                    .icon-stack.icon-stack-lg.bg-teal-soft.text-teal.mb-4
                        i-feather(name='clock')
                    h6 Customizing
                    p.card-text Building custom modules on top of our platform.
                .card-footer.bg-transparent.pt-0.pb-5.border-top-0
                    .badge.rounded-pill.bg-light.text-dark.fw-normal.px-3.py-2 14 Entries

    .row.gx-5.justify-content-center
        .col-lg-8.text-center
            h2 Can't find the answer you need?
            p.lead.mb-5 Contact us and we'll get back to you as soon as possible with a solution to whatever issues you're having with SB UI Kit Pro.
    .row.gx-5.align-items-center.mb-10
        .col-lg-4.text-center.mb-5.mb-lg-0
            .section-preheading Message Us
            a([routerLink]='') Start a chat!
        .col-lg-4.text-center.mb-5.mb-lg-0
            .section-preheading Call Anytime
            a([routerLink]='') (555) 565-1846
        .col-lg-4.text-center
            .section-preheading Email Us
            a([routerLink]='') support@startbootstrap.com
    form
        .row.gx-5
            .mb-4.col-md-6
                label.mb-2.text-dark(for='inputName') Full name
                input#inputName.form-control.py-4(type='text', placeholder='Full name')
            .mb-4.col-md-6
                label.mb-2.text-dark(for='inputEmail') Email
                input#inputEmail.form-control.py-4(type='email', placeholder='name@example.com')
        .mb-4
            label.mb-2.text-dark(for='inputMessage') Message
            textarea#inputMessage.form-control.py-3(type='text', placeholder='Enter your message...', rows='4')
        .text-center
            button.btn.btn-primary.fw-500.mt-4(type='submit') Submit Request