.container.px-5
    .row.gx-5
        .col-md-6.col-xl-4.mb-5.mt-n5
            a.card.card-portfolio.h-100([routerLink]='')
                img.card-img-top(src='https://source.unsplash.com/jWQj5Wjepuk/700x500', alt='...')
                .card-body
                    .card-title Book
        .col-md-6.col-xl-4.mb-5.mt-md-n5
            a.card.card-portfolio.h-100([routerLink]='')
                img.card-img-top(src='https://source.unsplash.com/Ecnx13MEPK0/700x500', alt='...')
                .card-body
                    .card-title Flower Mug
        .col-md-6.col-xl-4.mb-5.mt-xl-n5
            a.card.card-portfolio.h-100([routerLink]='')
                img.card-img-top(src='https://source.unsplash.com/eUCy1jb_B7I/700x500', alt='...')
                .card-body
                    .card-title Cactus Display
        .col-md-6.col-xl-4.mb-5
            a.card.card-portfolio.h-100([routerLink]='')
                img.card-img-top(src='https://source.unsplash.com/cuTcfqsES6o/700x500', alt='...')
                .card-body
                    .card-title Reading
        .col-md-6.col-xl-4.mb-5
            a.card.card-portfolio.h-100([routerLink]='')
                img.card-img-top(src='https://source.unsplash.com/jipR1oTCO7U/700x500', alt='...')
                .card-body
                    .card-title White Book
        .col-md-6.col-xl-4.mb-5
            a.card.card-portfolio.h-100([routerLink]='')
                img.card-img-top(src='https://source.unsplash.com/n3sqjJzZiBM/700x500', alt='...')
                .card-body
                    .card-title Photo Face
        .col-md-6.col-xl-4.mb-5
            a.card.card-portfolio.h-100([routerLink]='')
                img.card-img-top(src='https://source.unsplash.com/Zr7MxECDTQ8/700x500', alt='...')
                .card-body
                    .card-title Catalog
        .col-md-6.col-xl-4.mb-5
            a.card.card-portfolio.h-100([routerLink]='')
                img.card-img-top(src='https://source.unsplash.com/QcyenJDqDzw/700x500', alt='...')
                .card-body
                    .card-title Notebook
        .col-md-6.col-xl-4.mb-5
            a.card.card-portfolio.h-100([routerLink]='')
                img.card-img-top(src='https://source.unsplash.com/TIutDBFEtcY/700x500', alt='...')
                .card-body
                    .card-title Book Stand