.page-header-ui-content.pt-10
    .container.px-5.text-center
        .row.gx-5.justify-content-center
            .col-lg-8
                h1.page-header-ui-title.mb-3 Contact us
                p.page-header-ui-text Have questions? We're here to help!
