.container.px-5
    .row.gx-5.mb-5
        .col-lg-4.mb-5
            a.card.card-link.border-top.border-top-lg.border-top-primary.lift.text-center.o-visible.h-100([routerLink]='')
                .card-body
                    .icon-stack.icon-stack-xl.bg-primary-soft.text-primary.mb-4.mt-n5.z-1.shadow
                        i-feather(name='user')
                    h5 Sales
                    p.card-text Ready to open an account? Have questions about purchasing a product?
                .card-footer
                    .text-primary.fw-bold.d-inline-flex.align-items-center
                        | Contact Sales
                        fa-icon.text-xs.ms-1([icon]='["fas", "arrow-right"]')
        .col-lg-4.mb-5
            a.card.card-link.border-top.border-top-lg.border-top-secondary.lift.text-center.o-visible.h-100([routerLink]='')
                .card-body
                    .icon-stack.icon-stack-xl.bg-secondary-soft.text-secondary.mb-4.mt-n5.z-1.shadow
                        i-feather(name='life-buoy')
                    h5 Support
                    p.card-text Need help with a product that you just purchased? Need help with your account?
                .card-footer
                    .text-secondary.fw-bold.d-inline-flex.align-items-center
                        | Contact Support
                        fa-icon.text-xs.ms-1([icon]='["fas", "arrow-right"]')
        .col-lg-4.mb-5
            a.card.card-link.border-top.border-top-lg.border-top-teal.lift.text-center.o-visible.h-100([routerLink]='')
                .card-body
                    .icon-stack.icon-stack-xl.bg-teal-soft.text-teal.mb-4.mt-n5.z-1.shadow
                        i-feather(name='tv')
                    h5 Media
                    p.card-text Looking to contact our media team for a press release or related story?
                .card-footer
                    .text-teal.fw-bold.d-inline-flex.align-items-center
                        | Contact Media
                        fa-icon.text-xs.ms-1([icon]='["fas", "arrow-right"]')
    
    .row.gx-5.justify-content-center.text-center
        .col-lg-5.mb-5.mb-lg-0
            h5 Join us on Discord!
            p.fw-light.mb-0 Join the discussion on Discord. Our community can help answer questions!
        .col-lg-5
            h5 General Support
            p.fw-light.mb-0
                | For any other support questions, please send us an email at 
                a([routerLink]='') support@example.com

    hr.my-10

    .row.gx-5.justify-content-center
        .col-lg-8.text-center
            h2 Can't find the answer you need?
            p.lead.mb-5 Contact us and we'll get back to you as soon as possible with a solution to whatever issues you're having with SB UI Kit Pro.
    .row.gx-5.align-items-center.mb-10
        .col-lg-4.text-center.mb-5.mb-lg-0
            .section-preheading Message Us
            a([routerLink]='') Start a chat!
        .col-lg-4.text-center.mb-5.mb-lg-0
            .section-preheading Call Anytime
            a([routerLink]='') (555) 565-1846
        .col-lg-4.text-center
            .section-preheading Email Us
            a([routerLink]='') support@startbootstrap.com
    form
        .row.gx-5
            .mb-4.col-md-6
                label.mb-2.text-dark(for='inputName') Full name
                input#inputName.form-control.py-4(type='text', placeholder='Full name')
            .mb-4.col-md-6
                label.mb-2.text-dark(for='inputEmail') Email
                input#inputEmail.form-control.py-4(type='email', placeholder='name@example.com')
        .mb-4
            label.mb-2.text-dark(for='inputMessage') Message
            textarea#inputMessage.form-control.py-3(type='text', placeholder='Enter your message...', rows='4')
        .text-center
            button.btn.btn-primary.fw-500.mt-4(type='submit') Submit Request