.container.px-5
    .row.gx-5.brands.text-gray-500.align-items-center
        .col-6.col-sm-4.col-lg-2.d-flex.justify-content-center.mb-5.mb-lg-0
            include /assets/img/demo/brand-logos/google.svg
        .col-6.col-sm-4.col-lg-2.d-flex.justify-content-center.mb-5.mb-lg-0
            include /assets/img/demo/brand-logos/product-hunt.svg
        .col-6.col-sm-4.col-lg-2.d-flex.justify-content-center.mb-5.mb-lg-0
            include /assets/img/demo/brand-logos/mailchimp.svg
        .col-6.col-sm-4.col-lg-2.d-flex.justify-content-center.mb-5.mb-sm-0
            include /assets/img/demo/brand-logos/instagram.svg
        .col-6.col-sm-4.col-lg-2.d-flex.justify-content-center
            include /assets/img/demo/brand-logos/pinterest.svg
        .col-6.col-sm-4.col-lg-2.d-flex.justify-content-center
            include /assets/img/demo/brand-logos/dribbble.svg