.container.px-5

    .row.gx-5.align-items-center.justify-content-center

        .col-lg-6
            .badge.bg-primary-soft.text-primary.badge-marketing.rounded-pill.mb-3 Get Started!
            .mb-5
                h2 Here's What You Get
                p.lead
                    | When you purchase this UI Kit, you get access to a robust suite of powerful tools and components to help you build your next landing page quickly and easily.
            .row.gx-5
                .col-md-6.mb-4
                    h6 Landing Pages
                    p.mb-2.small We've crafted landing page examples for many popular business and product types.
                    a.small.text-arrow-icon(href="#!")
                        | Learn More
                        i-feather(name='arrow-right')
                .col-md-6.mb-4
                    h6 Page Examples
                    p.mb-2.small.mb-0 Use our pre-built page examples to quickly create inner pages to your website.
                    a.small.text-arrow-icon(href="#!")
                        | Learn More
                        i-feather(name='arrow-right')
            .row.gx-5
                .col-md-6.mb-4
                    h6 Layouts
                    p.mb-2.small.mb-0 Our flex box based layout options make your site beautifully responsive and adaptable to any device.
                    a.small.text-arrow-icon(href="#!")
                        | Learn More
                        i-feather(name='arrow-right')
                .col-md-6.mb-4
                    h6 Modular Sections
                    p.small.mb-0 All of the sections on each page are modular, so you can drop them into an existing page, or start with a new one!
                    a.small.text-arrow-icon(href="#!")
                        | Learn More
                        i-feather(name='arrow-right')

        .col-md-9.col-lg-6(data-aos='slide-left')
            .mb-4
                .content-skewed.content-skewed-left
                    img.img-fluid.content-skewed-item.shadow-lg.rounded-3(src='assets/img/demo/app-desktop-demo-screenshot.jpg')

