.page-header-ui-content
    .container.px-5
        .row.gx-5.justify-content-center
            .col-xl-8.col-lg-10.text-center(data-aos='fade')
                h1.page-header-ui-title Introducing a full suite of premium products
                p.page-header-ui-text Build a marketing site for your desktop app with this easy to use layout included with SB UI Kit Pro
                button.btn.btn-primary.fw-500 Get Started
                button.btn.btn-link.fw-500 Learn More
