.container.px-5
    .text-center.mb-5
        h2 Simple Pricing
        p.lead Easy pricing means no suprises.
    .row.gx-5.z-1
        .col-lg-4.mb-5.mb-lg-n10(data-aos='fade-up', data-aos-delay='100')
            .card.pricing.h-100
                .card-body.p-5
                    .text-center
                        .badge.bg-light.text-dark.rounded-pill.badge-marketing.badge-sm Free
                        .pricing-price
                            sup $
                            | 0
                            span.pricing-price-period /mo
                    ul.fa-ul.pricing-list
                        li.pricing-list-item
                            span.fa-li
                                i.far.fa-check-circle.text-teal
                            span.text-dark 1 user
                        li.pricing-list-item
                            span.fa-li
                                i.far.fa-check-circle.text-teal
                            span.text-dark Community support
                        li.pricing-list-item
                            span.fa-li
                                i.far.fa-circle.text-gray-200
                            | Style customizer
                        li.pricing-list-item
                            span.fa-li
                                i.far.fa-circle.text-gray-200
                            | Custom components
                        li.pricing-list-item
                            span.fa-li
                                i.far.fa-circle.text-gray-200
                            | Expanded utilities
                        li.pricing-list-item
                            span.fa-li
                                i.far.fa-circle.text-gray-200
                            | Third-party integration
                        li.pricing-list-item
                            span.fa-li
                                i.far.fa-circle.text-gray-200
                            | Layout options
        .col-lg-4.mb-5.mb-lg-n10(data-aos='fade-up')
            .card.pricing.h-100
                .card-body.p-5
                    .text-center
                        .badge.bg-primary-soft.rounded-pill.badge-marketing.badge-sm.text-primary Standard
                        .pricing-price
                            sup $
                            | 19
                            span.pricing-price-period /mo
                    ul.fa-ul.pricing-list
                        li.pricing-list-item
                            span.fa-li
                                i.far.fa-check-circle.text-teal
                            span.text-dark Up to 15 users
                        li.pricing-list-item
                            span.fa-li
                                i.far.fa-check-circle.text-teal
                            span.text-dark Email and live chat support
                        li.pricing-list-item
                            span.fa-li
                                i.far.fa-check-circle.text-teal
                            span.text-dark Style customizer
                        li.pricing-list-item
                            span.fa-li
                                i.far.fa-check-circle.text-teal
                            span.text-dark Custom components
                        li.pricing-list-item
                            span.fa-li
                                i.far.fa-check-circle.text-teal
                            span.text-dark Expanded utilities
                        li.pricing-list-item
                            span.fa-li
                                i.far.fa-check-circle.text-teal
                            span.text-dark Third-party integration
                        li.pricing-list-item
                            span.fa-li
                                i.far.fa-check-circle.text-teal
                            span.text-dark Layout options
        .col-lg-4.mb-lg-n10(data-aos='fade-up', data-aos-delay='100')
            .card.pricing.h-100
                .card-body.p-5
                    .text-center
                        .badge.bg-light.text-dark.rounded-pill.badge-marketing.badge-sm Enterprise
                        p.card-text.py-10 We offer discounts for larger organizations. Contact us to inquire about enterprise level plans!
