.container.px-5

    h2.mb-4 Browse by city

    .row.gx-5
        .col-lg-3.col-md-6
            .mb-2
                a([routerLink]='') Atlanta, GA
            .mb-2
                a([routerLink]='') Austin, TX
            .mb-2
                a([routerLink]='') Baltimore, MD
            .mb-2
                a([routerLink]='') Boston, MA
            .mb-2
                a([routerLink]='') Chicago, IL
            .mb-2
                a([routerLink]='') Cleveland, OH
        .col-lg-3.col-md-6
            .mb-2
                a([routerLink]='') Columbus, OH
            .mb-2
                a([routerLink]='') Dallas, TX
            .mb-2
                a([routerLink]='') Denver, CO
            .mb-2
                a([routerLink]='') Detroit, MI
            .mb-2
                a([routerLink]='') Houston, TX
            .mb-2
                a([routerLink]='') Las Vegas, NV
        .col-lg-3.col-md-6
            .mb-2
                a([routerLink]='') Los Angeles, CA
            .mb-2
                a([routerLink]='') Miami, FL
            .mb-2
                a([routerLink]='') Nashville, TN
            .mb-2
                a([routerLink]='') New York, NY
            .mb-2
                a([routerLink]='') Orlando, FL
            .mb-2
                a([routerLink]='') Philadelphia, PA
        .col-lg-3.col-md-6
            .mb-2
                a([routerLink]='') Phoenix, AZ
            .mb-2
                a([routerLink]='') Portland, OR
            .mb-2
                a([routerLink]='') San Francisco, CA
            .mb-2
                a([routerLink]='') Seattle, WA
            .mb-2
                a([routerLink]='') Tampa, FL
            .mb-2
                a([routerLink]='') See more...