.container.px-5
    .row.gx-5.text-center.justify-content-center
        .col-lg-8
            h2.display-4.text-white.fw-500 Get the app!
            p.lead.text-white-50.mb-5 Buy and sell items from your device with our new mobile app!
            .mb-5.mb-lg-0
                a.me-3(href='javascript:void(0);')
                    img(src='assets/img/app-badges/app-store-badge.svg', style="height: 3rem;")
                a(href='javascript:void(0);')
                    img(src='assets/img/app-badges/google-play-badge.svg', style="height: 3rem;")
                .page-header-ui-text.mt-2.text-xs.font-italic.text-white-50
                    | * Requires Android OS 4.3+ or Apple iOS 9.3+
