.page-header-ui-content
    .container.px-5
        .row.gx-5.justify-content-center
            .col-xl-8.col-lg-10.text-center
                h1.page-header-ui-title Buy and sell used items
                p.page-header-ui-text.mb-5 Out with the old, in with the new! Your trash is another's treasure. Start making money, or find great deals today!
                a.btn.btn-teal.fw-500.me-2([routerLink]='') Start Selling
                a.btn.btn-link.fw-500([routerLink]='') Browse Categories
