.container.px-5
    .row.gx-5
        .col-lg-8.mb-5
            .badge.badge-marketing.rounded-pill.bg-secondary-soft.text-secondary.mb-3 Marketing
            h2 A better way to capture leads
            p.lead Design can go a long way when capturing leads on your website. This lead caputre landing page example can help you get started!
    .row.gx-5.mb-n10.z-1
        .col-lg-6.mb-5
            .card.h-100
                .card-body.p-5
                    .icon-stack.icon-stack-xl.bg-secondary-soft.text-secondary.mb-4
                        i-feather(name='users')
                    h5 Cultivate better customers
                    p.card-text
                        | Learn how lead generation fits into your inbound marketing strategy and easy ways that you can start generating leads for your company
        .col-lg-6.mb-5
            .card.h-100
                .card-body.p-5
                    .icon-stack.icon-stack-xl.bg-success-soft.text-success.mb-4
                        i-feather(name='trending-up')
                    h5 Reach sales goals
                    p.card-text
                        | Attract and convert prospects into paying customers on your website by implementing a new design into your lead generation strategy
        .col-lg-6.mb-5.mb-lg-0
            .card.h-100
                .card-body.p-5
                    .icon-stack.icon-stack-xl.bg-primary-soft.text-primary.mb-4
                        i-feather(name='tool')
                    h5 Use the right tools
                    p.card-text
                        | By adding forms, call to action buttons, and information boxes, this template has the right tools to capture new leads
        .col-lg-6
            .card.h-100
                .card-body.p-5
                    .icon-stack.icon-stack-xl.bg-warning-soft.text-warning.mb-4
                        i-feather(name='layout')
                    h5 Easy to customimze
                    p.card-text
                        | Take sections and components from this UI Kit to build multiple variations of a lead caputre page to test which one performs better!
