.container.px-5
    .row.gx-5.align-items-center
        .col-lg-6.mb-4.mb-lg-0
            h4.text-primary Ready to get started?
            p.lead.mb-0 Create your account now!
        .col-lg-6.text-lg-end
            a.btn.btn-primary.fw-500.me-3([routerLink]='') Start Now
            a.btn.btn-transparent-dark.fw-500([routerLink]='') Contact Us
