.container.px-5

    .text-uppercase-expanded.small.mb-2 Contact
    hr.mt-0.mb-5

    .row.gx-5
        .col-lg-8.mb-4.mb-lg-0
            h3 Chris Kelly
            p.lead.mb-0 (555) 392-0323
            a([routerLink]='') ckelly@example.com
        .col-lg-4.text-lg-end
            a.btn.btn-teal.btn-lg.fw-500([routerLink]='')
                fa-icon.me-2.text-white-75([icon]='["fas", "file-pdf"]')
                | Download Resume
