.container.px-5

    .text-uppercase-expanded.small.mb-2 Education
    hr.mt-0.mb-5

    .row.gx-5.mb-5
        .col-lg-8
            h4.mb-0 University of Colorado Boulder
            p.lead Master of Business Administration (MBA)
            p Graduated from University of Colorado Boulder's lockstep evening MBA program
        .col-lg-4.text-lg-end
            .text-gray-400.small September 2013 - May 2015
    .row.gx-5
        .col-lg-8
            h4.mb-0 Clarcton University
            p.lead Bachelor of Science
            p Graduated with a degree in Marketing, with a specialization in product management and a minor in Finance
        .col-lg-4.text-lg-end
            .text-gray-400.small August 2009 - May 2013
