.container.px-5

    .text-uppercase-expanded.small.mb-2 Experience
    hr.mt-0.mb-5

    .row.gx-5.mb-5
        .col-lg-8
            h4.mb-0 Senior Sales Analyst
            p.lead Intelitec Solutions
            p Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.
        .col-lg-4.text-lg-end
            .text-gray-400.small May 2018 - Present
    .row.gx-5.mb-5
        .col-lg-8
            h4.mb-0 Marketing Analyst
            p.lead Shout Media Productions
            p Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.
        .col-lg-4.text-lg-end
            .text-gray-400.small August 2015 - May 2018

    .row.gx-5
        .col-lg-8
            h4.mb-0 Sales Representative
            p.lead Gamby Enterprises
            p Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
        .col-lg-4.text-lg-end
            .text-gray-400.small June 2011 - August 2015
