.page-header-ui-content.py-15.position-relative
    .container.px-5
        .row.gx-5
            .col-xl-6.col-lg-8
                h1.page-header-ui-title Chris Kelly
                p.page-header-ui-text.mb-5 I am a sales professional specializing in product marketing and distribution based in Clarcton, MA
                a.btn.btn-teal.btn-lg.fw-500([routerLink]='')
                    fa-icon.me-2.text-white-75([icon]='["fas", "file-pdf"]')
                    | Download Resume
