.page-header-ui-content
    .container.px-5
        .row.gx-5.justify-content-center
            .col-xl-8.col-lg-10.text-center
                h1.page-header-ui-title Build your next project faster
                p.page-header-ui-text.mb-5 Welcome to SB UI Kit Pro, a toolkit for building beautiful web interfaces, created by the development team at Start Bootstrap
                a.btn.btn-teal.fw-500([routerLink]='') Get Started
                a.btn.btn-link.fw-500([routerLink]='') Learn More
