<sbpro-layout-landing footerClasses="bg-light footer-light"
    ><sb-top-nav topNavClasses="bg-white navbar-light" brandClasses="text-dark" buttonClasses="btn-teal"></sb-top-nav
    ><sbpro-page-header headerClasses="bg-img-repeat bg-primary page-header-ui-dark" borderType="waves" borderClasses="text-light" backgroundImage='url("assets/img/backgrounds/pattern-shapes.png")'
        ><div class="page-header-ui-content">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-xl-8 col-lg-10 text-center">
                        <h1 class="page-header-ui-title">Buy and sell used items</h1>
                        <p class="page-header-ui-text mb-5">Out with the old, in with the new! Your trash is another's treasure. Start making money, or find great deals today!</p>
                        <a class="btn btn-teal fw-500 me-2" [routerLink]="">Start Selling</a><a class="btn btn-link fw-500" [routerLink]="">Browse Categories</a>
                    </div>
                </div>
            </div>
        </div></sbpro-page-header
    ><sbpro-page-section sectionClasses="py-10 bg-light"
        ><div class="container px-5">
            <h2 class="mb-4">Recent postings</h2>
            <div class="row gx-5">
                <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
                    <a class="card lift h-100" [routerLink]=""
                        ><div class="card-flag card-flag-dark card-flag-top-right card-flag-lg">$115</div>
                        <img class="card-img-top" src="https://source.unsplash.com/tG36rvCeqng/800x500" alt="..." />
                        <div class="card-body p-3">
                            <div class="card-title small mb-0">Gray Bicycle</div>
                            <div class="text-xs text-gray-500">Readcaster, CO &middot; 2 days ago</div>
                        </div></a
                    >
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
                    <a class="card lift h-100" [routerLink]=""
                        ><div class="card-flag card-flag-dark card-flag-top-right card-flag-lg">$29</div>
                        <img class="card-img-top" src="https://source.unsplash.com/nHOz7sp5nHE/800x500" alt="..." />
                        <div class="card-body p-3">
                            <div class="card-title small mb-0">Hanimex Camera</div>
                            <div class="text-xs text-gray-500">Waterlow, CO &middot; 3 days ago</div>
                        </div></a
                    >
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
                    <a class="card lift h-100" [routerLink]=""
                        ><div class="card-flag card-flag-dark card-flag-top-right card-flag-lg">$999</div>
                        <img class="card-img-top" src="https://source.unsplash.com/GkFQEOubrCo/800x500" alt="..." />
                        <div class="card-body p-3">
                            <div class="card-title small mb-0">Macbook Pro</div>
                            <div class="text-xs text-gray-500">Waterlow, CO &middot; 4 hours ago</div>
                        </div></a
                    >
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
                    <a class="card lift h-100" [routerLink]=""
                        ><div class="card-flag card-flag-dark card-flag-top-right card-flag-lg">$19</div>
                        <img class="card-img-top" src="https://source.unsplash.com/3bdSGpKVAmk/800x500" alt="..." />
                        <div class="card-body p-3">
                            <div class="card-title small mb-0">Assorted Skin Care</div>
                            <div class="text-xs text-gray-500">Waterlow, CO &middot; 29 minutes ago</div>
                        </div></a
                    >
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
                    <a class="card lift h-100" [routerLink]=""
                        ><div class="card-flag card-flag-dark card-flag-top-right card-flag-lg">$59</div>
                        <img class="card-img-top" src="https://source.unsplash.com/w9IHmVSNBfU/800x500" alt="..." />
                        <div class="card-body p-3">
                            <div class="card-title small mb-0">Brown Ukulele</div>
                            <div class="text-xs text-gray-500">Readcaster, CO &middot; 3 days ago</div>
                        </div></a
                    >
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
                    <a class="card lift h-100" [routerLink]=""
                        ><div class="card-flag card-flag-dark card-flag-top-right card-flag-lg">$249</div>
                        <img class="card-img-top" src="https://source.unsplash.com/bpg-ngqrPc8/800x500" alt="..." />
                        <div class="card-body p-3">
                            <div class="card-title small mb-0">Leather Sofa</div>
                            <div class="text-xs text-gray-500">Readcaster, CO &middot; 2 hours ago</div>
                        </div></a
                    >
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
                    <a class="card lift h-100" [routerLink]=""
                        ><div class="card-flag card-flag-dark card-flag-top-right card-flag-lg">$219</div>
                        <img class="card-img-top" src="https://source.unsplash.com/fZuleEfeA1Q/800x500" alt="..." />
                        <div class="card-body p-3">
                            <div class="card-title small mb-0">Green Suede Sofa</div>
                            <div class="text-xs text-gray-500">Waterlow, CO &middot; 2 days ago</div>
                        </div></a
                    >
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
                    <a class="card lift h-100" [routerLink]=""
                        ><div class="card-flag card-flag-dark card-flag-top-right card-flag-lg">$89</div>
                        <img class="card-img-top" src="https://source.unsplash.com/rjhAiP3cj9E/800x500" alt="..." />
                        <div class="card-body p-3">
                            <div class="card-title small mb-0">Metal Chairs</div>
                            <div class="text-xs text-gray-500">Readcaster, CO &middot; 5 days ago</div>
                        </div></a
                    >
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
                    <a class="card lift h-100" [routerLink]=""
                        ><div class="card-flag card-flag-dark card-flag-top-right card-flag-lg">$89</div>
                        <img class="card-img-top" src="https://source.unsplash.com/5ba6j8d_oXY/800x500" alt="..." />
                        <div class="card-body p-3">
                            <div class="card-title small mb-0">Wireless Earbuds</div>
                            <div class="text-xs text-gray-500">Readcaster, CO &middot; 1 month ago</div>
                        </div></a
                    >
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
                    <a class="card lift h-100" [routerLink]=""
                        ><div class="card-flag card-flag-dark card-flag-top-right card-flag-lg">$34,999</div>
                        <img class="card-img-top" src="https://source.unsplash.com/ESoE_buQvNQ/800x500" alt="..." />
                        <div class="card-body p-3">
                            <div class="card-title small mb-0">Muscle Car</div>
                            <div class="text-xs text-gray-500">Waterlow, CO &middot; 1 week ago</div>
                        </div></a
                    >
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
                    <a class="card lift h-100" [routerLink]=""
                        ><div class="card-flag card-flag-dark card-flag-top-right card-flag-lg">$69</div>
                        <img class="card-img-top" src="https://source.unsplash.com/zuE9jsaVHuA/800x500" alt="..." />
                        <div class="card-body p-3">
                            <div class="card-title small mb-0">Hardwood Dresser</div>
                            <div class="text-xs text-gray-500">Waterlow, CO &middot; 2 weeks ago</div>
                        </div></a
                    >
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
                    <a class="card lift h-100" [routerLink]=""
                        ><div class="card-flag card-flag-dark card-flag-top-right card-flag-lg">$9,999</div>
                        <img class="card-img-top" src="https://source.unsplash.com/WuRsjF4iZK0/800x500" alt="..." />
                        <div class="card-body p-3">
                            <div class="card-title small mb-0">Classic Motorcycle</div>
                            <div class="text-xs text-gray-500">Readcaster, CO &middot; 1 week ago</div>
                        </div></a
                    >
                </div>
            </div>
            <div class="mb-10">
                <a class="text-arrow-icon" [routerLink]="">See more deals near you<i-feather name="arrow-right"></i-feather></a>
            </div>
            <h2 class="mb-4">Browse Categories</h2>
            <div class="row gx-5">
                <div class="col-lg-3 col-md-6 mb-5">
                    <a class="card lift border-bottom-lg border-red" [routerLink]=""
                        ><div class="card-body text-center">
                            <div class="icon-stack icon-stack-xl bg-red text-white mb-2"><fa-icon [icon]='["fas", "car"]'></fa-icon></div>
                            <div class="small text-gray-600">Cars</div>
                        </div></a
                    >
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <a class="card lift border-bottom-lg border-orange" [routerLink]=""
                        ><div class="card-body text-center">
                            <div class="icon-stack icon-stack-xl bg-orange text-white mb-2"><fa-icon [icon]='["fas", "home"]'></fa-icon></div>
                            <div class="small text-gray-600">Housing</div>
                        </div></a
                    >
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <a class="card lift border-bottom-lg border-yellow" [routerLink]=""
                        ><div class="card-body text-center">
                            <div class="icon-stack icon-stack-xl bg-yellow text-white mb-2"><fa-icon [icon]='["fas", "gift"]'></fa-icon></div>
                            <div class="small text-gray-600">Free</div>
                        </div></a
                    >
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <a class="card lift border-bottom-lg border-green" [routerLink]=""
                        ><div class="card-body text-center">
                            <div class="icon-stack icon-stack-xl bg-green text-white mb-2"><fa-icon [icon]='["fas", "mobile-alt"]'></fa-icon></div>
                            <div class="small text-gray-600">Tech</div>
                        </div></a
                    >
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                    <a class="card lift border-bottom-lg border-cyan" [routerLink]=""
                        ><div class="card-body text-center">
                            <div class="icon-stack icon-stack-xl bg-cyan text-white mb-2"><fa-icon [icon]='["fas", "couch"]'></fa-icon></div>
                            <div class="small text-gray-600">Furniture</div>
                        </div></a
                    >
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                    <a class="card lift border-bottom-lg border-blue" [routerLink]=""
                        ><div class="card-body text-center">
                            <div class="icon-stack icon-stack-xl bg-blue text-white mb-2"><fa-icon [icon]='["fas", "briefcase"]'></fa-icon></div>
                            <div class="small text-gray-600">Jobs</div>
                        </div></a
                    >
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                    <a class="card lift border-bottom-lg border-purple" [routerLink]=""
                        ><div class="card-body text-center">
                            <div class="icon-stack icon-stack-xl bg-purple text-white mb-2"><fa-icon [icon]='["fas", "motorcycle"]'></fa-icon></div>
                            <div class="small text-gray-600">Leisure</div>
                        </div></a
                    >
                </div>
                <div class="col-lg-3 col-md-6">
                    <a class="card lift border-bottom-lg border-pink" [routerLink]=""
                        ><div class="card-body text-center">
                            <div class="icon-stack icon-stack-xl bg-pink text-white mb-2"><fa-icon [icon]='["fas", "shopping-cart"]'></fa-icon></div>
                            <div class="small text-gray-600">Other</div>
                        </div></a
                    >
                </div>
            </div>
        </div></sbpro-page-section
    >
    <hr class="my-0" />
    <sbpro-page-section sectionClasses="py-10 bg-light"
        ><div class="container px-5">
            <h2 class="mb-4">Browse by city</h2>
            <div class="row gx-5">
                <div class="col-lg-3 col-md-6">
                    <div class="mb-2"><a [routerLink]="">Atlanta, GA</a></div>
                    <div class="mb-2"><a [routerLink]="">Austin, TX</a></div>
                    <div class="mb-2"><a [routerLink]="">Baltimore, MD</a></div>
                    <div class="mb-2"><a [routerLink]="">Boston, MA</a></div>
                    <div class="mb-2"><a [routerLink]="">Chicago, IL</a></div>
                    <div class="mb-2"><a [routerLink]="">Cleveland, OH</a></div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="mb-2"><a [routerLink]="">Columbus, OH</a></div>
                    <div class="mb-2"><a [routerLink]="">Dallas, TX</a></div>
                    <div class="mb-2"><a [routerLink]="">Denver, CO</a></div>
                    <div class="mb-2"><a [routerLink]="">Detroit, MI</a></div>
                    <div class="mb-2"><a [routerLink]="">Houston, TX</a></div>
                    <div class="mb-2"><a [routerLink]="">Las Vegas, NV</a></div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="mb-2"><a [routerLink]="">Los Angeles, CA</a></div>
                    <div class="mb-2"><a [routerLink]="">Miami, FL</a></div>
                    <div class="mb-2"><a [routerLink]="">Nashville, TN</a></div>
                    <div class="mb-2"><a [routerLink]="">New York, NY</a></div>
                    <div class="mb-2"><a [routerLink]="">Orlando, FL</a></div>
                    <div class="mb-2"><a [routerLink]="">Philadelphia, PA</a></div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="mb-2"><a [routerLink]="">Phoenix, AZ</a></div>
                    <div class="mb-2"><a [routerLink]="">Portland, OR</a></div>
                    <div class="mb-2"><a [routerLink]="">San Francisco, CA</a></div>
                    <div class="mb-2"><a [routerLink]="">Seattle, WA</a></div>
                    <div class="mb-2"><a [routerLink]="">Tampa, FL</a></div>
                    <div class="mb-2"><a [routerLink]="">See more...</a></div>
                </div>
            </div>
        </div></sbpro-page-section
    ><sbpro-page-header headerClasses="bg-gradient-primary-to-secondary py-10" borderType="rounded" borderClasses="text-light"
        ><div class="container px-5">
            <div class="row gx-5 text-center justify-content-center">
                <div class="col-lg-8">
                    <h2 class="display-4 text-white fw-500">Get the app!</h2>
                    <p class="lead text-white-50 mb-5">Buy and sell items from your device with our new mobile app!</p>
                    <div class="mb-5 mb-lg-0">
                        <a class="me-3" href="javascript:void(0);"><img src="assets/img/app-badges/app-store-badge.svg" style="height: 3rem" /></a><a href="javascript:void(0);"><img src="assets/img/app-badges/google-play-badge.svg" style="height: 3rem" /></a>
                        <div class="page-header-ui-text mt-2 text-xs font-italic text-white-50">* Requires Android OS 4.3+ or Apple iOS 9.3+</div>
                    </div>
                </div>
            </div>
        </div></sbpro-page-header
    ></sbpro-layout-landing
>
