<div class="accordion mb-5">
    <div class="accordion-item" *ngIf="header">
        <div class="accordion-body">
            <div class="d-flex justify-content-between align-items-center py-3">
                <div class="me-2">
                    <h4 class="mb-0"><ng-content select=".header-title"></ng-content></h4>
                    <p class="small text-gray-500 mb-0"><ng-content select=".header-subtitle"></ng-content></p>
                </div>
                <div class="ms-2"><div class="badge bg-success-soft rounded-pill text-success">{{faqs.length}} Answers</div></div>
            </div>
        </div>
    </div>
    <div class="accordion-item" *ngFor="let faq of faqs; let i = index">
        <h2 class="accordion-header"><button class="accordion-button py-4" [ngClass]="{collapsed: collapsed[i]}" (click)="toggle(i)" data-bs-toggle="collapse" href="javascript:void(0);">{{faq.question}}</button></h2>
        <div class="accordion-collapse collapse show" #collapsibleSection><div class="accordion-body">{{faq.answer}}</div></div>
    </div>
</div>
