.container.px-5
    .row.gx-5.justify-content-center
        .col-lg-6
            .text-center.mt-4
                img.img-fluid.p-4(src='assets/img/illustrations/504-error-gateway-timeout.svg', alt='...')
                p.lead The server encountered a temporary error and could not complete your request.
                a.text-arrow-icon(routerLink='/')
                    i-feather.ms-0.me-1(name='arrow-left')
                    | Return Home
