.container.px-5
    .row.gx-5.justify-content-center
        .col-lg-8.text-center
            h2 Contact me
            p.mb-5 I am available for contract work, when you're ready - let me know!
            .row.gx-5
                .col
                    .card
                        .card-body
                            .icon-stack.icon-stack-lg.bg-orange.text-white.mb-3
                                i-feather(name='mail')
                            .small
                                a([routerLink]='') hello@example.com
                .col
                    .card
                        .card-body
                            .icon-stack.icon-stack-lg.bg-green.text-white.mb-3
                                i-feather(name='smartphone')
                            .small
                                | 555-123-4567
