.page-header-ui-content
    .container.px-5
        .row.gx-5.justify-content-center
            .col-xl-8.col-lg-10.text-center
                img(src='assets/img/demo/avataaars.svg', style='width: 15rem;').mb-4
                h1.page-header-ui-title Welcome to my portfolio!
                p.page-header-ui-text I am a graphic artist, illustrator, and UI designer specializing in modern, creative design based in Wildemount, TX
