.container.px-5
    .row.gx-5.justify-content-center
        .col-lg-8
            .text-center.mb-10
                h2 Documentation
                p.lead
                    | Comprehensive documentation includes usage instructions, component reference, and utility class usage instructions
    .row.gx-5
        .col-lg-4.text-center.mb-5
            .display-1.fw-bold.text-gray-400 70+
            .h5 Custom/Extended Components
            p We've extended and restyled Bootstrap's default components, and built a suite of new custom components.
        .col-lg-4.text-center.mb-5
            .display-1.fw-bold.text-gray-400 35+
            .h5 Pre-Built Page Examples
            p Our pre-built page examples are a perfect way to get inspired for creating new pages and views.
        .col-lg-4.text-center.mb-5
            .display-1.fw-bold.text-gray-400 100+
            .h5 Custom/Extended Utilites
            p We've extended and created new utility classes to give you more control over your content with minimal custom CSS.

    .text-center
        a.btn.btn-primary.fw-500(
            href='https://docs.startbootstrap.com/sb-ui-kit-pro-angular'
        ) View Documentation