.page-header-ui-content.pt-5
    .container.px-5
        .row.gx-5.align-items-center
            .col-lg-6(data-aos='fade-up')
                h1.page-header-ui-title Build your next project faster with SB UI Kit Pro
                p.page-header-ui-text.mb-5 Welcome to SB UI Kit Pro, a toolkit for building beautiful web interfaces, created by the development team at Start Bootstrap
                a.btn.btn-lg.btn-primary.fw-500.me-3(routerLink='/landings/multipurpose')
                    | View Demo
                    i-feather.ms-2(name='arrow-right')
                a.btn.btn-lg.btn-primary-soft.text-primary.fw-500(
                    href='https://docs.startbootstrap.com/sb-ui-kit-pro-angular'
                ) Documentation
            .col-lg-6.d-none.d-lg-block(data-aos='fade-up', data-aos-delay='50')
                img.img-fluid(src='assets/img/illustrations/programming.svg')
