.container.px-5
    .row.gx-5.justify-content-center
        .col-lg-8
            .text-center.mb-10
                .badge.rounded-pill.bg-primary-soft.text-primary.badge-marketing.mb-3 Customizable!
                h2 Header Examples
                p.lead
                    | Build your own landing page by starting with one of these customizable header examples! You can customize the colors, content, borders, and more!
    .row.gx-5.text-center
        .col-lg-4.mb-5
            h6.mb-3 Demo 1 - Basic
            a.d-block.rounded-3.lift.lift-lg(routerLink='/landings/basic')
                img.img-fluid.rounded-3(src='https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/header-basic.png')
        .col-lg-4.mb-5
            h6.mb-3 Demo 2 - Basic (Signup)
            a.d-block.rounded-3.lift.lift-lg(routerLink='/landings/basic-signup')
                img.img-fluid.rounded-3(src='https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/header-basic-signup.png')
        .col-lg-4.mb-5
            h6.mb-3 Demo 3 - Graphic
            a.d-block.rounded-3.lift.lift-lg(routerLink='/landings/graphic')
                img.img-fluid.rounded-3(src='https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/header-graphic.png')
        .col-lg-4.mb-5
            h6.mb-3 Demo 4 - Graphic (Signup)
            a.d-block.rounded-3.lift.lift-lg(routerLink='/landings/graphic-signup')
                img.img-fluid.rounded-3(src='https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/header-graphic-signup.png')
        .col-lg-4.mb-5
            h6.mb-3 Demo 5 - Inner Page
            a.d-block.rounded-3.lift.lift-lg(routerLink='/landings/inner-page')
                img.img-fluid.rounded-3(src='https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/header-inner-page.png')
        .col-lg-4.mb-5
            h6.mb-3 Demo 6 - Nav Only
            a.d-block.rounded-3.lift.lift-lg(routerLink='/landings/nav-only')
                img.img-fluid.rounded-3(src='https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/header-nav-only.png')
