.container.px-5
    .row.gx-5.justify-content-center
        .col-lg-8
            .text-center.mb-10
                .badge.rounded-pill.bg-primary-soft.text-primary.badge-marketing.mb-3 12 Demos!
                h2 Landing Pages
                p.lead
                    | When you purchase this UI Kit, you get access to a robust suite of powerful landing page demos to help you get started.
    .row.gx-5.text-center
        .col-lg-4.mb-5
            h6.mb-3 Demo 1 - Multipurpose
            a.d-block.rounded-3.lift.lift-lg(routerLink='/landings/multipurpose')
                img.img-fluid.rounded-3(src='https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/landing-multipurpose.png')
        .col-lg-4.mb-5
            h6.mb-3 Demo 2 - Mobile App
            a.d-block.rounded-3.lift.lift-lg(routerLink='/landings/mobile-app')
                img.img-fluid.rounded-3(src='https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/landing-app-mobile.png')
        .col-lg-4.mb-5
            h6.mb-3 Demo 3 - Desktop App
            a.d-block.rounded-3.lift.lift-lg(routerLink='/landings/desktop-app')
                img.img-fluid.rounded-3(src='https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/landing-app-desktop.png')
        .col-lg-4.mb-5
            h6.mb-3 Demo 4 - Agency
            a.d-block.rounded-3.lift.lift-lg(routerLink='/landings/agency')
                img.img-fluid.rounded-3(src='https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/landing-agency.png')
        .col-lg-4.mb-5
            h6.mb-3 Demo 5 - Lead Capture
            a.d-block.rounded-3.lift.lift-lg(routerLink='/landings/lead-capture')
                img.img-fluid.rounded-3(src='https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/landing-lead-capture.png')
        .col-lg-4.mb-5
            h6.mb-3 Demo 6 - Press
            a.d-block.rounded-3.lift.lift-lg(routerLink='/landings/press')
                img.img-fluid.rounded-3(src='https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/landing-press.png')
        .col-lg-4.mb-5
            h6.mb-3 Demo 7 - Directory
            a.d-block.rounded-3.lift.lift-lg(routerLink='/landings/directory')
                img.img-fluid.rounded-3(src='https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/landing-directory.png')
        .col-lg-4.mb-5
            h6.mb-3 Demo 8 - Rental
            a.d-block.rounded-3.lift.lift-lg(routerLink='/landings/rental')
                img.img-fluid.rounded-3(src='https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/landing-rental.png')
        .col-lg-4.mb-5
            h6.mb-3 Demo 9 - Real Estate
            a.d-block.rounded-3.lift.lift-lg(routerLink='/landings/real-estate')
                img.img-fluid.rounded-3(src='https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/landing-real-estate.png')
        .col-lg-4.mb-5
            h6.mb-3 Demo 10 - Classifieds
            a.d-block.rounded-3.lift.lift-lg(routerLink='/landings/classifieds')
                img.img-fluid.rounded-3(src='https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/landing-classifieds.png')
        .col-lg-4.mb-5
            h6.mb-3 Demo 11 - Resume
            a.d-block.rounded-3.lift.lift-lg(routerLink='/landings/resume')
                img.img-fluid.rounded-3(src='https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/landing-resume.png')
        .col-lg-4.mb-5
            h6.mb-3 Demo 12 - Portfolio
            a.d-block.rounded-3.lift.lift-lg(routerLink='/landings/portfolio')
                img.img-fluid.rounded-3(src='https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/landing-portfolio.png')