.container.px-5
    .row.gx-5.justify-content-center
        .col-xl-6.col-lg-8.col-md-10.text-center.py-5
            h2 Ready to get Started?
            p.lead.text-gray-500.mb-5 We'd love to hear from you about your branding and digital needs. We are currently accepting new clients.
            a(href='javascript:void(0);').btn.btn-primary.fw-500 Contact us
