.container-fluid.px-5
    .row.gx-5
        .col-md-6.mb-5
            a.card.card-portfolio.h-100([routerLink]='')
                img.card-img-top(src='https://source.unsplash.com/-FVaZbu6ZAE/900x600', alt='...')
                .card-body
                    .card-title Book
        .col-md-6.mb-5
            a.card.card-portfolio.h-100([routerLink]='')
                img.card-img-top(src='https://source.unsplash.com/FUohNQatzVs/900x600', alt='...')
                .card-body
                    .card-title Business Cards
        .col-md-6.mb-5
            a.card.card-portfolio.h-100([routerLink]='')
                img.card-img-top(src='https://source.unsplash.com/eUCy1jb_B7I/900x600', alt='...')
                .card-body
                    .card-title Cactus Display
        .col-md-6.mb-5
            a.card.card-portfolio.h-100([routerLink]='')
                img.card-img-top(src='https://source.unsplash.com/sRyvf4szfMc/900x600', alt='...')
                .card-body
                    .card-title Device
        .col-md-6.mb-5.mb-lg-0
            a.card.card-portfolio.h-100([routerLink]='')
                img.card-img-top(src='https://source.unsplash.com/jipR1oTCO7U/900x600', alt='...')
                .card-body
                    .card-title White Book
        .col-md-6
            a.card.card-portfolio.h-100([routerLink]='')
                img.card-img-top(src='https://source.unsplash.com/n3sqjJzZiBM/900x600', alt='...')
                .card-body
                    .card-title Photo Face
